{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            var listButton = document.getElementsByClassName("action-list")[0];
            listButton.setAttribute("href", "{{ path("connector_filter", {"id" : entity.station.id}) }}")
        });
    </script>

{% endblock %}