{% if view == 'show' %}
    {% if value|length > 0 %}
        <ul>
            {% for element in value %}
                <li>{{ element.connectorType.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="empty collection-empty">
            {{ include(entity_config.templates.label_empty) }}
        </div>
    {% endif %}

{% else %}
    <ul>
        {% for _item, element in value %}
            <li>
                {{ element.connectorType.name }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
