{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block body_javascript %}
    <img id="image">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#vehiclemodel_imageFile").parent().parent().hide();

            $.ajax({
                type: "POST",
                url: "{{ path('show_imageshow_image') }}",
                data: {"url" : "https://u180511.your-storagebox.de/{{ entity.image }}"},
                success: function(img) {
                    var image = new Image();
                    image.setAttribute("src", 'data:image/jpeg;base64,' + img);
                    image.style.width = "300px";
                    $("#vehiclemodel_image").parent().append(image);
                },
                error: function(error, txtStatus) {
                    console.log('error');
                }
            });
        });
    </script>
{% endblock %}
