{% extends 'base.html.twig' %}
{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(edit_form, { 'attr' : { 'class': 'form-horizontal' } }) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile_customer.edit.first_name'|trans }}</label>
        <div class="col-sm-10">
            {{ form_widget(edit_form.firstName) }}
            {{ form_errors(edit_form.firstName) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile_customer.edit.second_name'|trans }}</label>
        <div class="col-sm-10">
            {{ form_widget(edit_form.secondName) }}
            {{ form_errors(edit_form.secondName) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'profile_customer.edit.button_back'|trans }}</a>
            <button type="submit" class="btn btn-default">{{ 'profile_customer.edit.button_save'|trans }}</button>
        </div>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}