{% extends "base.html.twig" %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h1> {{ 'profile.show.header'|trans }}</h1>
    <div>
        <table class="table table-bordered">
            <thead>
            <th>
                {{ 'profile.show.username'|trans }}
            </th>
            <th>
                {{ 'profile.show.email'|trans }}
            </th>
            </thead>
            <tbody>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.email }}
            </td>
            </tbody>
        </table>
    </div>

    <h1> {{ 'profile_customer.show.header'|trans }}</h1>
    <div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>{{ 'profile_customer.show.first_name'|trans }}</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>{{ 'profile_customer.show.second_name'|trans }}</th>
                <td>{{ customer.secondName }}</td>
            </tr>
            <tr>
                <th>{{ 'profile_customer.show.balance'|trans }}</th>
                <td>{{ customer.balance }}</td>
            </tr>
            <tr>
                <th>{{ 'profile_customer.show.status'|trans }}</th>
                <td>{{ customer.authorizationStatus.name }}</td>
            </tr>
            </tbody>

        </table>
    </div>

    <a class="btn btn-default"
       href="{{ path('fos_user_profile_edit') }}">{{ 'profile_customer.show.button_edit'|trans }}</a>
{% endblock %}
