<h3>Организация</h3>
<br>
Наименование: {{ vars.name }}
<br>
Год создания: {{ vars.year }}
<br>
Основные виды деятельности: {{ vars.name }}
<br>
Адрес: {{ vars.address }}
<br>
Телефон: {{ vars.phone }}
<br>
E-mail: {{ vars.email }}
<br>
Сайт: {{ vars.site }}
<br>
<h3>Руководитель</h3>
<br>
ФИО: {{ vars.fullName }} Должность: {{ vars.work }}
<br>
<h3>Контактное лицо</h3>
<br>
ФИО: {{ vars.contactName }} Должность: {{ vars.contactName }}
<br>
E-mail: {{ vars.contactEmail }}
