{% extends "base.html.twig" %}

{% block title %}Зарядки{% endblock %}


{% block fos_user_content %}

{% endblock fos_user_content %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Номер телефона</th>
            <th>Статус</th>
            <th>GPS</th>
            <th>Охрана</th>
            <th>Открыть крышку</th>
            <th>Концевик</th>
            <th>Подать напряжение</th>
            <th>Отключить напряжение</th>
            <th>Счетчик (КвТ)</th>
        </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            {% if station.phone %}
            <tr>
                <td>{% if station.phone %} {{ station.phone }}{% else %} Телефон неизвестен {% endif %}<input type="hidden" value="{{ station.id }}"></td>
                <td>{% if station.status.isOnline %}На связи{% else %}Не на связи{% endif %}</td>
                <td><input value="{{ station.gps }}"><a href="{{ path('lk_pandora_refresh_coords', {id: station.id}) }}" class="refresh-coords">Обновить</a>  <a target="_blank" href="https://yandex.ru/maps/213/moscow/?ll={{ station.gps }}&mode=search&sll=103.851993%2C1.290153&source=serp_navig&sspn=15.369873%2C10.787034&text={{ station.gps }}&z=17" class="refresh-coords">Открыть в Яндекс картах</a></td>
                <td>{% if not station.status.isOnline %}Нет соединения{% else %}{% if station.status.isSecurityOn %}В охране{% else %}Не в охране{% endif %}{% endif %}</td>
                <td><a href="{{ path('lk_pandora_open_cap', {id: station.id}) }}" class="open">Открыть крышку</a></td>
                <td><input type="checkbox" {% if station.status.isOpen %} checked {% endif %} disabled></td>
                <td><a href="{{ path('lk_pandora_start', {id: station.id}) }}" class="charge-on">Подать напряжение</a></td>
                <td><a href="{{ path('lk_pandora_stop', {id: station.id}) }}" class="charge-off">Отключить напряжение</a></td>
                <td>{{ (station.status.mileage * 8)/1000 }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block javascripts %}
    <script>
        document.getElementsByClassName("navbar")[0].style.display = "none";
    </script>

{% endblock %}
