{% extends '@EasyAdmin/default/show.html.twig' %}
{% block show_fields %}
    {{ parent() }}
{% endblock %}

{% block body_javascript %}
    <script>
        {% if entity.image %}
        var elements = document.getElementsByClassName("col-sm-2");

        for (var i = 0; i < elements.length; i++) {
            if(elements[i].innerHTML.indexOf("Image") !== -1) {
                elements[i].parentElement.getElementsByClassName("col-sm-10")[0].innerHTML = '<img id="new-image" src="/api/customer/document/image/{{ entity.id }}">';
            }
        }

        {% endif %}

    </script>
{% endblock %}