<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Evserver {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link href="{{ asset('Resources/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Resources/css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('Resources/css/navbar.css') }}" type="text/css">
    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('Resources/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/bootstrap/js/bootstrap.min.js') }}"></script>


</head>
<body>

{% trans_default_domain 'messages' %}

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('lk_homepage') }}">{{ 'base.logo'|trans }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="{{ path('lk_history_payments') }}">{{ 'base.payments'|trans }}</a></li>
                <li><a href="{{ path('lk_history_charging') }}">{{ 'base.charging'|trans }}</a></li>
                <li><a href="{{ path('lk_history_parking') }}">{{ 'base.parking'|trans }}</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li style="background: #5bc0de"><a href="{{ path('admin') }}">{{ 'base.admin'|trans }}</a></li>
                {% endif %}
            </ul>
            {% if app.user is not null %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a><p id="balance">{{ 'base.balance'|trans }}</p></a></li>
                    {#<li><a href="{{ path('app_default_changelanguage', {'locale':'base.lang'|trans }) }}">{{ 'base.lang_title'|trans }}</a></li>#}
                    <li class="dropdown">
                        <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">{{ 'base.profile'|trans }}<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'base.logout'|trans }}</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block body %}{% endblock %}

    {% block javascripts %}
        <script>
            getBalance();

            function getBalance() {
                $.ajax({
                    type: "POST",
                    url: "/lk/get_balance",
                    success: function (receiveData) {
                        caption = document.getElementById("balance").innerHTML;
                        document.getElementById("balance").innerHTML = caption + ': ' + receiveData;
                    }
                });
            }
        </script>
    {% endblock %}
</div>
</body>
</html>
