{% extends "base.html.twig" %}

{% block title %}Зарядки{% endblock %}


{% block fos_user_content %}

{% endblock fos_user_content %}

{% block body %}
    <select style="width: 300px" id="filter">
        <option value="0">Все</option>
    </select>
    <table class="table">
        <thead>
        <tr>
            <th>Session ID</th>
            <th>UID</th>
            <th>Card Description</th>
            <th>COST, EUR</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Energy</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.sessionId }}</td>
                <td>{{ session.uniqueId }}</td>
                <td class="filter-id">{{ session.description }}</td>
                <td>{{ session.energy * 0.95 }}</td>
                <td>{{ session.startTime|date('d.m.Y H:i:s') }}</td>
                <td>{{ session.endTime|date('d.m.Y H:i:s') }}</td>
                <td>{{ session.energy }}</td>
                <td>{{ session.duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block javascripts %}
    <script>
        document.getElementsByClassName("navbar")[0].style.display = "none";
        var filter = document.getElementById("filter");
        var values = document.getElementsByClassName("filter-id");
        var array = [];
        for (var i = 0; i < values.length; i++) {
            array.push(values[i].innerHTML);
        }

        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }

        var unique = array.filter(onlyUnique);
        for (var d = 0; d < unique.length; d++) {
            var newOption = document.createElement("option");
            newOption.value = unique[d];
            newOption.innerHTML = unique[d];
            filter.appendChild(newOption);
        }
        filter.addEventListener("change", function () {
            if (filter.options[filter.selectedIndex].value === '0') {
                for (var a = 0; a < values.length; a++) {
                    values[a].parentElement.style.display = "";
                }
                return;
            }
            for (var e = 0; e < values.length; e++) {
                if (values[e].innerHTML !== filter.options[filter.selectedIndex].text) {
                    values[e].parentElement.style.display = "none";
                } else {
                    values[e].parentElement.style.display = "";
                }
            }
        })
    </script>

{% endblock %}
