<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<style>
    .form{
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        padding: 8px;
        text-align: center;
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial' ,sans-serif;
        background: #fafafa;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
    }

    .form h3{
        color: #232a34;
    }

    .form-logo{
        width: 60px;
    }

    .form-field{
        padding: 8px 16px;
        text-align: center;
        color: #232a34;
        font-size: 18px;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
    }

    .form-btn{
        width: 100%;
        max-width: 240px;
        margin-top: 16px;
        padding: 8px 16px;
        background: #48b3e3;
        background: linear-gradient(0deg,#1d7dc0,#48b3e3);
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        border: 1px solid #48b3e3;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<body>
<form class="form" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <img src="{{ asset('Resources/kenia/images/App_icon.png') }}" class="form-logo" alt="logo">
    <input type="hidden" name="receiver" value="410013060462515">
    <input type="hidden" name="formcomment" value="{{ phone }}">
    <input type="hidden" name="short-dest" value="{{ phone }}">
    <input type="hidden" name="label" value="{{ phone }}">
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="{{ phone }}">
    <div class="col-xs-12" style="text-align: center">
        <h3>Введите сумму</h3>
    </div>
    <div class="col-lg-12">
        <input type="text" class="form-field" name="sum" value="{{ amount }}"
               data-type="number">
    </div>
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <input type="hidden" name="paymentType" value="PC">
    <input type="submit" class="form-btn" value="Перевести">
</form>
</body>

</html>