{% extends '@EasyAdmin/default/list.html.twig' %}

{% block table_head %}
    <tr>
        <th>Customer ID</th>
        <th>Phone</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
{% endblock table_head %}
{% block table_body %}

    {% for item in customers %}
        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        <tr data-id="{{ item.customer.id }}" class="customer-row">
            <td>{{ item.customer.id }}</td>
            <td class="customer-phone-row">{{ item.customer.user.username }}</td>
            <td>{{ item.customer.firstName }} {{ item.customer.secondName }}</td>
            <td><a href="{{ path('customer_documents_admin', {id: item.customer.id}) }}" target="_blank">Show Documents</a></td>
        </tr>
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block paginator %}
{% endblock paginator %}

{% block delete_form %}

{% endblock delete_form %}

{% block search_action %}
    {% block search_form %}
        <div class="input-group" style="width: 100%">
            <input class="form-control" type="search" name="query" id="query" value="{{ app.request.get('query')|default('') }}" style="width: 100%" placeholder="Введите номер телефона">
        </div>
    {% endblock %}
{% endblock search_action %}


{% block body_javascript %}
    {{ parent() }}

    <script>
        document.getElementById("query").addEventListener("input", function () {
            var elements = document.getElementsByClassName("customer-phone-row");
            for(var i = 0; i < elements.length; i++) {
                if(elements[i].innerHTML.indexOf(this.value) !== -1) {
                    elements[i].parentElement.style.display = "table-row";
                } else {
                    elements[i].parentElement.style.display = "none";
                }
            }
        })
    </script>
{% endblock %}