{% extends "base.html.twig" %}

{% block body %}

    <h3>Подробная информация о зарядке</h3>
    <div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Идентификатор</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Идентификатор коннектора</th>
                <td>{{ session.connector.externalId }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ session.status.name }}</td>
            </tr>
            <tr>
                <th>Запрошенное время (в минутах)</th>
                <td>{{ session.duration }}</td>
            </tr>
            <tr>
                <th>Время старта</th>
                <td>{% if session.startTime %}{{ session.startTime|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Время завершения</th>
                <td>{% if session.stopTime %}{{ session.stopTime|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ушло энергии</th>
                <td>{{ session.stopMeter - session.startMeter }}</td>
            </tr>

            </tbody>

        </table>
    </div>

{% endblock %}
