{% extends "base.html.twig" %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}

    {% if customer.firstName != '' %}
        <h3>Добро пожаловать, {{ customer.firstName }}</h3>
    {% endif %}

{% endblock %}