{% extends 'base.html.twig' %}

{% block body %}
    <h3>Подробная информация о парковке</h3>
    <div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Идентификатор</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Идентификатор билета</th>
                <td>{{ session.ticketId }}</td>
            </tr>
            <tr>
                <th>Стоимость</th>
                <td>{{ session.ticketAmount  }}</td>
            </tr>
            <tr>
                <th>Время создания</th>
                <td>{% if session.createTime %}{{ session.createTime|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>

            <tr>
                <th>Время старта</th>
                <td>{% if session.startTime %}{{ session.startTime|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Время завершения</th>
                <td>{% if session.stopTime %}{{ session.stopTime|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>

            </tbody>

        </table>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

