{% extends 'base.html.twig' %}

{% block body %}
    <h1>История парковок</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Идентификатор билета</th>
            <th>Время старта</th>
            <th>Время завершения</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('lk_show_parking', { 'id': session.id }) }}">{{ session.id }}</a></td>
                <td>{{ session.ticketId }}</td>
                <td>{% if session.startTime %}{{ session.startTime|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>{% if session.stopTime %}{{ session.stopTime|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Истории парковок
{% endblock %}

