{% extends 'base.html.twig' %}

{% block body %}
    <h1>История платежей (Последние 10 платежей)</h1>
    {% if chargingPayments is not empty %}
        <h2>Зарядки</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Идентификатор платежа</th>
                <th>Сумма</th>
                <th>Дата платежа</th>
                <th>Сессия</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in chargingPayments %}
                <tr>
                    <td>{{ payment.transaction }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{% if payment.date %}{{ payment.date|date('d.m.Y H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('lk_show_charging', { 'id': payment.session.id }) }}">{{ payment.session.id }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% if parkingPayments is not empty %}

        <h2>Парковки</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Идентификатор платежа</th>
                <th>Сумма</th>
                <th>Дата платежа</th>
                <th>Сессия</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in parkingPayments %}
                <tr>
                    <td>{{ payment.transaction }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{% if payment.date %}{{ payment.date|date('d.m.Y H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('lk_show_parking', { 'id': payment.session.id }) }}">{{ payment.session.id }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if carsharingPayments is not empty %}

        <h2>Каршеринг</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Идентификатор платежа</th>
                <th>Сумма</th>
                <th>Дата платежа</th>
                <th>Сессия</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in carsharingPayments %}
                <tr>
                    <td>{{ payment.transaction }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{% if payment.date %}{{ payment.date|date('d.m.Y H:i:s') }}{% endif %}</td>
                    <td>{{ payment.session.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}