{% if view == 'show' %}
    {% if value|length > 0 %}
        <style>
            .table-row-connector{
                cursor: pointer;
            }
            .table-row-connector:hover{
                background-color: lightgray;
            }
        </style>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Sticker</th>
                    <th>Status</th>
                </tr>
                <tbody>
                {% for element in value %}
                    <tr class="table-row-connector" data-href="{{ path("edit_connector", {"id": element.id, "stationId" : element.station.id}) }}">
                        <td>{{ element.id }}</td>
                        <td>{{ element.stickerId }}</td>
                        <td>{% if element.status != null %} {{ element.status.name }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $('.table-row-connector[data-href]').on("click", function() {
                document.location = $(this).data('href');
            });
        </script>

    {% else %}
        <div class="empty collection-empty">
            {{ include(entity_config.templates.label_empty) }}
        </div>
    {% endif %}
{% else %}
    {% for _item, element in value %}
        <ul style="margin: 0;list-style-type: none;">
            <li style="margin: 0">
                {{ element.stickerId }}
            </li>
        </ul>
    {% endfor %}
{% endif %}
