{% extends '@EasyAdmin/default/list.html.twig' %}

{% block table_head %}
    <tr>
        {% for field, metadata in fields %}

            {% set isSortingField = metadata.property == app.request.get('sortField')|split('.')|first %}
            {% set nextSortDirection = isSortingField ? (app.request.get('sortDirection') == 'DESC' ? 'ASC' : 'DESC') : 'DESC' %}
            {% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}
            {% set _column_icon = isSortingField ? (nextSortDirection == 'DESC' ? 'fa-caret-up' : 'fa-caret-down') : 'fa-sort' %}
            <th data-property-name="{{ metadata.property }}"
                class="{{ isSortingField ? 'sorted' }} {{ metadata.virtual ? 'virtual' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                {% if metadata.sortable %}
                    <a href="{{ path('easyadmin', _request_parameters|merge({ page: 1, sortField: metadata.property, sortDirection: nextSortDirection })) }}">
                        <i class="fa {{ _column_icon }}"></i>
                        {{ _column_label|raw }}
                    </a>
                {% else %}
                    <span>{{ _column_label|raw }}</span>
                {% endif %}
            </th>

        {% endfor %}
    </tr>
{% endblock table_head %}

{% block table_body %}
    <style>
        .table-column {
            background-color: #f0f9ff;
        }
        .table-row:hover {
            cursor: pointer;
        }
    </style>
    {% set _connectors_field = {} %}
    {% set _connectors_metadata = {} %}
    {% set _connectors_item = {} %}
    {% for item in paginator.currentPageResults %}
        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
        <tr data-id="{{ _item_id }}" style="background-color: #f0f9ff" data-href="{{ path("show_station", {"id":_item_id}) }}" class="table-row">
            {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters) %}
                {% if _column_label == 'Facilities' %}
                    <td data-label="{{ _column_label }}"
                        class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }} table-column">
                        <a href="{{ path('station_facilities', {'id': item.id}) }}">Facilities</a>
                    </td>
                {% else %}
                    <td data-label="{{ _column_label }}"
                        class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }} table-column">
                        {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>

    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block new_action %}
    <div class="button-action">
        <a class="{{ _action.css_class|default('') }}" href="{{ path("create_station") }}"
           target="{{ _action.target }}">
            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
            {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
        </a>
    </div>
{% endblock new_action %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('tr[data-href]').on("click", function() {
                document.location = $(this).data('href');
            });
        });
    </script>
{% endblock %}

