{% extends '@EasyAdmin/default/new.html.twig' %}

{% block body_javascript %}
    <script type="text/javascript">
        $(function() {
            $("#station_connection").parent().parent().hide();
        });
    </script>
{% endblock %}
