{% extends '@EasyAdmin/default/show.html.twig' %}
{% block show_fields %}
    {% for field, metadata in fields %}
        {% block show_field %}
            <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                <label class="col-sm-2 control-label">
                    {% if field == 'connectors' %}
                        <a href="{{ path('connector_filter', {'id': entity.id}) }}">{{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}</a>
                    {% elseif field == 'facilities' %}
                        <a href="{{ path('station_facilities', {'id': entity.id}) }}">{{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}</a>
                    {% elseif field == 'connection.connectionString' %}
                        <a href="{{ path('edit_connection', {'id': entity.connection.id, "stationId": entity.id}) }}">{{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}</a>
                    {% else %}
                        {{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}
                    {% endif %}

                </label>
                <div class="col-sm-10">
                    <div class="form-control">

                        {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                    </div>

                    {% if metadata.help|default('') != '' %}
                        <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help|trans|raw }}</span>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

    {% endfor %}
{% endblock %}

{% block item_actions %}
    <a class="btn btn-primary action-edit" title="" href="{{ path("edit_station", {"id": entity.id}) }}" target="_self"><i class="fa fa-edit"></i> Edit</a>
    <a class="btn btn-primary action-edit" title="" href="{{ path("delete_station", {"id": entity.id}) }}" target="_self"><i class="fa fa-edit"></i> Delete</a>
    {{ parent() }}
{% endblock item_actions %}


