{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var listButton = document.getElementsByClassName("action-list")[0];
            listButton.setAttribute("href", "{{ path("show_station", {"id" : entity_fields.stationId}) }}")
        });
    </script>

{% endblock %}