{% extends '@EasyAdmin/default/new.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $("#connectorconnectortype_connector").parent().parent().hide();
        });
    </script>
{% endblock %}