{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div>
        {% trans_default_domain 'FOSUserBundle' %}

        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            <h2 class="form-title">{{ 'layout.login'|trans }}</h2>

            {% if error %}
                <div style="color: red">{{ error.message }}</div>
            {% endif %}

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <input type="text" id="username" name="_username" class="form-control"
                   placeholder="{{ 'form.username'|trans }}"
                   required
                   autofocus>
            <input type="password" id="password" name="_password" class="form-control"
                   placeholder="{{ 'form.password'|trans }}"
                   required>

            <button type="submit"
                    class="btn btn-lg btn-primary btn-block">{{ 'layout.login'|trans }}</button>
            <div class="footer">
                <a href="{{ path('cabinet_register') }}">{{ 'security.login.no_account_yet'|trans }}
                    <strong>{{ 'security.login.sign_up'|trans }}</strong></a>
            </div>

            <br/>
            <br/>
        </form>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock fos_user_content %}