<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    {% block head %}{% endblock %}
    <title>Evserver Security</title>
    <link href="{{ asset('Resources/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('Resources/css/signin.css') }}">
</head>

<body>

<div class="container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% block javascripts %}{% endblock %}
</div> <!-- /container -->

</body>
</html>
