{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div>
        {% trans_default_domain 'FOSUserBundle' %}

        <form class="form-signin" action="{{ path("register_confirm", {'phone' : phone}) }}" method="post">
            <h2 class="form-title">{{ 'layout.login'|trans }}</h2>

            <h3>На ваш телефон отправлено сообщение с кодом подтверждения, введите его в поле ниже:</h3>

            {% if error %}
                <div style="color: red">{{ error.message }}</div>
            {% endif %}


            <input type="text" id="confirm" name="_confirm" class="form-control"
                   placeholder="{{ 'form.password'|trans }}"
                   required
                   autofocus>
            <br/>

            <button type="submit"
                    class="btn btn-lg btn-primary btn-block">{{ 'registration.submit'|trans }}</button>
        </form>
    </div>
{% endblock fos_user_content %}