{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}
    <div>
        <h2>Подтверждено</h2>
        <div>
            {{ 'registration.confirmed'|trans }}
        </div>
    </div>
    <div class="footer">
        <a href="{{ path('fos_user_security_login') }}"
           class="sign-up">{{ 'registration.sign_in'|trans }}</a>
    </div>
{% endblock %}

