{% extends 'FOSUserBundle::layout.html.twig' %}
{% block fos_user_content %}
    <!-- Login Box -->
    <div class="box">

        {% trans_default_domain 'FOSUserBundle' %}

        <div>
            <form class="form-horizontal form-signin" method="post">
            {{ form_start(form, {'method': 'post', 'action': path('cabinet_register'), 'attr': {'class': 'form-horizontal form-signin'}}) }}
            <!-- Title -->
            <h3 class="form-title">{{ 'layout.register'|trans }}</h3>
            {% if error !=null %}
                <div style="color: red">
                    <div class="col-sm-10">
                        <p readonly="readonly">Ошибка: {{ error }}</p>
                    </div>
                </div>
            {% endif %}
            <input class="form-control" name="cabinet_register[username]" placeholder="Username">
            <input class="form-control" name="cabinet_register[pin]" placeholder="PIN">

            <div class="footer">
                <a href="{{ path('fos_user_security_login') }}"
                   class="sign-up">{{ 'registration.already_registered'|trans }}
                    <strong>{{ 'registration.sign_in'|trans }}</strong></a>
            </div>

            <!-- Form Actions -->
            <button type="submit" class="btn btn-lg btn-primary btn-block">
                {{ 'registration.submit'|trans }} <i class="icon-angle-right"></i>
            </button>

            <a type="button" style="margin-top: 10px" href="{{ path('lk_homepage') }}"
               class="btn btn-default pull-left">
                <i class="icon-angle-left"></i> {{ 'registration.button_back'|trans }}
            </a>
            </form>
        </div>
    </div>
    <!-- /Login Box -->
{% endblock %}