{% for _item, element in value %}
    <ul style="margin: 0;list-style-type: none;">
        <li style="margin: 0">
            {{ element.latitude }} , {{ element.longitude }}
        </li>
    </ul>
{% endfor %}