{% extends '@EasyAdmin/default/list.html.twig' %}
{% block new_action %}
    <div class="button-action">
        <a class="{{ _action.css_class|default('') }}" href="{{ path("create_vehicle") }}"
           target="{{ _action.target }}">
            {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
            {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
        </a>
    </div>
{% endblock new_action %}