{% extends '@App/Default/base.html.twig' %}


{% block content %}
    <div class="about">
        <div id="about-top" class="about-top">
            <div class="about-top__title">
                <h1>О Международном Конгрессе</h1>
            </div>
        </div>
        <div class="about-info">
            <article class="about-sidebar sidebar">
                <div class="anchors">
                    <a href="#about-top" class="anchors-link">Описание</a>
                    <a href="#about-slider" class="anchors-link">История</a>
                    <a href="#about-mission" class="anchors-link">Миссия</a>
                    <a href="#about-tasks" class="anchors-link">Стратегия</a>
                    <a href="#about-structure" class="anchors-link">Структура</a>
                </div>
            </article>
            <div class="about-info__content">
                <div class="about-info__descr">
                    <div class="about-info__info">
                        <p>Международный Конгресс промышленников и предпринимателей (ICIE, Конгресс) – общественное объединение национальных деловых кругов и иных организаций из 28 стран Европы и Азии.</p>
                        <p>Конгресс имеет официальный статус при Организации Объединенных Наций по промышленному развитию (UNIDO), Межпарламентской Ассамблее государств-участников СНГ, а также взаимодействует с Деловыми советами ЕЭК, ОЧЭС, ШОС, БРИКС, Африканского союза и рядом других международных структур.</p>
                        <p>Основное направление деятельности ICIE сконцентрировано на экономической интеграции, внешнеэкономических связях, консолидации бизнес-сообществ из разных стран, защите и продвижении интересов членов организации как на локальном, так и на международном уровнях.</p>
                        <p>Международный Конгресс промышленников и предпринимателей оказывает помощь в становлении и развитии предприятий различных сфер экономики, в их адаптации к новым рыночным условиям, а также в установлении и расширении международных деловых связей.</p>
                        <p>ICIE является авторитетной дискуссионной площадкой, обладающей многолетним опытом организации различных мероприятий. В активе Конгресса – международные форумы, конференции, круглые столы и выставки.</p>
                    </div>
                    <div class="about-info__logos">
                        <div class="about-info__logos-row">
                            <a href="http://unido.org" target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/unido_logo.png" alt="">
                            </a>
                            <a href="https://au.int" target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/african_union.png" alt="">
                            </a>
                            <a href="http://infobrics.org" target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/brics_logo.png" alt="">
                            </a>
                        </div>
                        <div class="about-info__logos-row">
                            <a href="http://www.eurasiancommission.org" target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/eeu_logo.png" alt="">
                            </a>
                            <a href="http://iacis.ru " target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/cis_logo.png" alt="">
                            </a>
                            <a href="http://www.sectsco.org" target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/sco_logo.png" alt="">
                            </a>
                        </div>
                        <div class="about-info__logos-row">
                            <a href="http://www.bsec-organization.org" target="_blank" class="about-info__logos-item">
                                <img src="/Resources/mkpp/img/bsec_logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content">
            <div class="about-quote">
                <p>Бизнес-дипломатия <span>в действии</span></p>
                <span>Наш девиз</span>
            </div>
            <div class="about-user about-user__left">
                <div class="about-user__info-mobile">
                    <h2>Артем Чайка</h2>
                    <p>Президент ICIE</p>
                </div>
                <div class="about-user__photo">
                    <img src="/Resources/mkpp/img/chaika.jpg" alt="">
                </div>
                <div class="about-user__info">
                    <h2>Артем Чайка</h2>
                    <p>Президент ICIE</p>
                    <p class="about-user__descr">«Международный Конгресс и дальше продолжит играть объединяющую роль для деловых кругов различных стран. Наполняя реальными делами и проектами деятельность Конгресса, создавая благоприятные условия для ведения бизнеса, способствуя устойчивому развитию и экономической безопасности, мы продолжим построение современной международной организации, всесторонне учитывающей динамично изменяющиеся экономические условия в мире».</p>
                </div>
            </div>
            <div id="about-slider" class="about-slider">
                <div class="about-slider__content">
                    <div class="about-slider__content-item" data-content-index="0">
                        <div class="about-slider__content-year">
                            <p>1992</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/1992_1.jpeg" alt="">
                                </div>
                                <p>
                                    Лидерами деловых кругов 14 государств <b>принято решение о создании Международного Конгресса промышленников и предпринимателей (ICIE).</b>
                                    Состоялась учредительная Ассамблея, избран первый руководитель организации - Президент – координатор Совета – <b>Аркадий Вольский</b>.
                                    C 1996 года Почетный Президент Конгресса.
                                </p>
                            </div>
                            <div class="about-slider__content-photo">
                                <img src="/Resources/mkpp/img/about_slider/1992_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="1">
                        <div class="about-slider__content-year">
                            <p>1993</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>
                                    Ассамблея ICIE в <b>г.Алма-Ате</b> (Казахстан) с участием Президента Республики Казахстан <b>Нурсултана Назарбаева</b>.
                                    Утверждены  Устав ICIE, положение о Контрольной комиссии и программа  деятельности организации,
                                    избраны руководящие органы Конгресса.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="2">
                        <div class="about-slider__content-year">
                            <p>1994</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/1994_1.jpg" alt="">
                                </div>
                                <p>Под эгидой ICIE в <b>Кишиневе</b> (Молдова) проведены <b>«Экспофорум – 94» и международная выставка стран Черноморского региона.</b></p>
                                <p>Организована <b>совместная торговая ярмарка на ВВЦ</b> в Москве с выставочными структурами из Чехии, Словакии и России.</p>
                                <p>Состоялось заседание Совета ICIE в <b>Бухаресте</b> (Румыния) c участием   Президента Румынии <b>Иона Илиеску.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="3">
                        <div class="about-slider__content-year">
                            <p>1995</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/1995_1.jpeg" alt="">
                                </div>
                                <p>
                                    Совет ICIE в <b>Бишкеке</b> (Киргизия) - утверждена Концепция развития Конгресса.
                                    Принято обращение к главам государств и правительств Содружества Независимых Государств -
                                    <b>«Экономической интеграции – действенные механизмы».</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="4">
                        <div class="about-slider__content-year">
                            <p>1996</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/1996_1.jpg" alt="">
                                </div>
                                <p><b>Председателем Совета ICIE</b> избран <b>Виктор Глухих</b>. C 2017 года - Почетный Президент Конгресса.</p>
                                <p>Учрежден журнал Международного Конгресса «Право и экономика в Европе и Азии».</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="5">
                        <div class="about-slider__content-year">
                            <p>1997</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/1997_1.jpg" alt="">
                                </div>
                                <p>Отчетно-выборная Ассамблея Конгресса в <b>г.Санкт-Петербурге</b> (Россия) с участием Председателя Совета Федерации ФС РФ Егора Строева.</p>
                                <p>Заключено <b>соглашение о взаимодействии с Межпарламентской Ассамблеей государств СНГ,</b> впоследствии <b>получен официальный статус при МПА.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="6">
                        <div class="about-slider__content-year">
                            <p>1998</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/1998_1.png" alt="">
                                </div>
                                <p>Подписано <b>соглашение о совместной деятельности с Организацией Объединенных наций по промышленному развитию</b> (UNIDO).</p>
                                <p>ICIE стал консультативным партнером <b>UNIDO.</b></p>
                                <p>Совет Конгресса в <b>Братиславе</b> (Словакия) - принят Кодекс международного экономического сотрудничества <b>«Сила взаимодействия»</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="7">
                        <div class="about-slider__content-year">
                            <p>1999</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>Международная конференция <b>«Проблемы промышленного развития и экономического сотрудничества в контексте
                                        глобальных изменений в хозяйственной и финансовой системах»</b> с участием представителей более 20 стран в штаб-квартире UNIDO в <b>Вене</b> (Австрия).</p>
                                <p>Участников приветствовал Генеральный директор UNIDO <b>Карлос Магариньос</b>.</p>
                                <p>ICIE стал одним из учредителей Международного Союза товаропроизводителей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="8">
                        <div class="about-slider__content-year">
                            <p>2000</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2000_1.jpeg" alt="">
                                </div>
                                <p>Ассамблея Конгресса в <b>Вильнюсе</b> (Литва) - рассмотрены базовые проблемы активизации работы ICIE, обновлен Устав Конгресса,
                                    избраны новые руководящие органы, в том числе – Президиум Совета. Одобрена Вильнюсская декларация
                                    <b>«Вступая в новый век: предпринимательство как критерий цивилизованности»</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="9">
                        <div class="about-slider__content-year">
                            <p>2001</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2001_1.jpg" alt="">
                                </div>
                                <p>Научно-практическая конференция и международная выставка <b>«Промышленность и транспорт: кооперация и сотрудничество»</b> в <b>Москве</b> (Россия).</p>
                                <p>VII Ассамблея ICIE утвердила Комплексную программу взаимодействия Конгресса с партнерскими международными и
                                    межгосударственными организациями. Участникам мероприятия направил свое приветствие Президент Российской Федерации <b>Владимир Путин</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="10">
                        <div class="about-slider__content-year">
                            <p>2002</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>Расширенное совещание ICIE <b>«Информационная интеграция и системная поддержка жизненных циклов продукции»,  «IP/GALS – технологии 2002».</b></p>
                                <p>Совет ICIE в <b>Ереване</b> (Армения).</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="11">
                        <div class="about-slider__content-year">
                            <p>2003</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2003_1.jpg" alt="">
                                </div>
                                <p>Международная научно-практическая конференция по транспортно-логистической тематике <b>в Таллине</b> (Эстония).</p>
                                <p>Совместно с Комитетами Совета Федерации ФС РФ проведен международный семинар – совещание <b>«Промышленное развитие России – XXI век»</b>.</p>
                                <p>Учрежден Почетный диплом и памятный знак Конгресса <b>«За вклад в международное экономическое сотрудничество»</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="12">
                        <div class="about-slider__content-year">
                            <p>2004</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2004_1.JPG" alt="">
                                </div>
                                <p>Международный форум <b>«Новая Европа в диалоге «Запад - Восток: интеграция и развитие»</b> в <b>Бухаресте</b> (Румыния).</p>
                                <p>Заседание Совета ICIE на базе Комсомольского-на-Амуре авиационного объединения имени Ю.А. Гагарина.</p>
                                <p>Заключен договор о сотрудничестве с <b>Европейской Ассамблеей деловых кругов</b> по реализации Международной
                                    имиджевой программы <b>«Лидеры XXI столетия»</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="13">
                        <div class="about-slider__content-year">
                            <p>2005</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2005_1.jpg" alt="">
                                </div>
                                <p>Международная ярмарка машиностроения и современных технологий в <b>Дели</b> (Индия). В Конгресс принята Конфедерация индийской промышленности.</p>
                                <p>Совместно с UNIDO организована международная конференция <b>«Инновации, технологии и инвестиции: роль общественных организаций и частного сектора».</b></p>
                                <p>Участие в мировом общественном форуме <b>«Диалог цивилизаций», о. Родос</b> (Греция).</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="14">
                        <div class="about-slider__content-year">
                            <p>2006</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2006_1.jpg" alt="">
                                </div>
                                <p>Подписано <b>соглашения с Китайским обществом дружественных зарубежных связей</b> (КОДЗС) в <b>Пекине</b> (КНР).</p>
                                <p>Международная конференция <b>«Страны ЕС и СНГ. Перспективы экономических связей. Интересы бизнеса»</b> в <b>г. Друскининкай</b> (Литва).</p>
                                <p>Учреждение постоянно действующего Форума ICIE <b>«Диалог Запад – Восток: интеграция и развитие».</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="15">
                        <div class="about-slider__content-year">
                            <p>2007</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2007_1.JPG" alt="">
                                </div>
                                <p>15-летие Конгресса, <b>юбилейный Совет ICIE</b> в <b>Вене</b> (Австрия).</p>
                                <p>Деловой форум <b>«Инвестиционный рост экономики и взаимовыгодное сотрудничество»</b> в <b>г. Брисбен</b> (Австралия).</p>
                                <p>Заключено <b>соглашение о взаимодействии с организациями деловых кругов ЮАР и Африканского Союза, г. Кейптаун</b> (ЮАР)</p>
                            </div>
                            <div class="about-slider__content-photo">
                                <img src="/Resources/mkpp/img/about_slider/2007_2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="16">
                        <div class="about-slider__content-year">
                            <p>2008</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>Подписан <b>меморандум о взаимопонимании с Международной дорожной ассоциацией</b>.</p>
                                <p>В <b>Женеве</b> (Швейцария) обсуждены проблемы и перспективы  сотрудничества Конгресса с международными и европейскими организациями, в т.ч. ЮНКТАД и  ЕЭК.</p>
                                <p>Торгово-экономическая конференция в <b>Таллине</b> (Эстония) с участием Президента Эстонской Республики <b>Тоомаса Ильвеса.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="17">
                        <div class="about-slider__content-year">
                            <p>2009</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2009_1.jpg" alt="">
                                </div>
                                <p>Подписан <b>меморандум о сотрудничестве с Союзом Черноморско-Каспийской конфедерации предприятий</b> на заседании
                                    Генеральной Ассамблеи Союза в <b>Стамбуле</b> (Турция).</p>
                                <p>Заключено соглашение о сотрудничестве с Международным центром научной и технической информации (МЦНТИ).</p>
                                <p>В <b>Москве</b> (Россия) проведен <b>Форум лидеров бизнеса государств СНГ «Объединение – стратегия развития».</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="18">
                        <div class="about-slider__content-year">
                            <p>2010</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>Научно-практическая конференция <b>«Модель взаимодействия международных организаций и бизнес-партнеров для вывода
                                        новых технологий на глобальные рынки»</b> в Москве (Россия).</p>
                                <p>Подписан <b>меморандум о взаимодействии</b> и определена программа совместных действий <b>ICIE и Исполнительного Комитета СНГ.</b></p>
                                <p>Открыто Балтийское Представительство Конгресса в <b>г.Калининграде</b> (Россия).</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="19">
                        <div class="about-slider__content-year">
                            <p>2011</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2011_1.jpg" alt="">
                                </div>
                                <p>Заседание Совета ICIE в <b>Баку</b> (Азербайджан). Участникам мероприятия направил свое
                                    приветствие Президент Азербайджанской Республики <b>Ильхам Алиев.</b></p>
                                <p>Конференция <b>«Системное взаимодействие общественных объединений промышленников и предпринимателей с органами
                                        власти как неотъемлемое условие успешного социально-экономического развития»</b> в Баку.</p>
                                <p>Расширенное заседание Международного Совета деловых кругов в <b>Минске</b> (Беларусь).</p>
                                <p>Подписано <b>соглашение о сотрудничестве Конгресса с Торгово-промышленной палатой РФ</b>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="20">
                        <div class="about-slider__content-year">
                            <p>2012</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2012_1.jpg" alt="">
                                </div>
                                <p>Выставка инноваций <b>«ICIE – территория сотрудничества»</b> и серия тематических «круглых столов» по проблемам
                                    экономического развития в <b>г. Калининграде</b> (Россия).</p>
                                <p>Совместно с Международной академией транспорта проведен <b>Московский конгресс по интеллектуальным транспортным системам</b>.</p>
                                <p>Международная межбанковская конференция в <b>Будапеште</b> (Венгрия).</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="21">
                        <div class="about-slider__content-year">
                            <p>2013</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2013_1.JPG" alt="">
                                </div>
                                <p>Юбилейная X-я отчетно-выборная Ассамблея ICIE в <b>Москве</b> (Россия).</p>
                                <p>Совместно с Международным Центром содействия предпринимательству (ICPE) проведена конференция <b>«Энергоэффективность
                                        и энергосберегающие технологии: настоящее и будущее» в Любляне</b> (Словения).</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="22">
                        <div class="about-slider__content-year">
                            <p>2014</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>Научно-практическая конференция по проблемам международного делового сотрудничества в агропромышленной сфере в <b>Риге</b> (Латвия).</p>
                                <p>Созданы Координационные Советы Конгресса по взаимодействию с предпринимателями Азии и Ближнего Востока.
                                    ICIE стал участником международного проекта <b>«Трансазиатский коридор развития».</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="23">
                        <div class="about-slider__content-year">
                            <p>2015</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2015_1.jpg" alt="">
                                </div>
                                <p>II Пекинский Международный экономический форум  <b>BIEF- 2015.</b></p>
                                <p>Заседание Совета Конгресса в <b>Москве</b> (Россия).</p>
                                <p>Подписано <b>соглашение о сотрудничестве Конгресса с  Всемирной Организацией свободных экономических зон</b>
                                    и её региональными представительствами.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="24">
                        <div class="about-slider__content-year">
                            <p>2016</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <p>Международное совещание по проблемам европейского предпринимательского сотрудничества в <b>Берлине</b> (Германия).
                                    Принята комплексная программа <b>«ICIE – Европа».</b></p>
                                <p>ICIE, Деловой клуб «Венгрия – СНГ», Национальная Ассоциация предпринимателей и работодателей Венгрии провели
                                    экономическую конференцию <b>«Инновации как возможности развития и расширения международного сотрудничества регионов и бизнес-структур».</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-slider__content-item" data-content-index="25">
                        <div class="about-slider__content-year">
                            <p>2017</p>
                        </div>
                        <div class="about-slider__content-info">
                            <div class="about-slider__content-event">
                                <div class="about-slider__content-img">
                                    <img src="/Resources/mkpp/img/about_slider/2017_1.jpg" alt="">
                                </div>
                                <p>25-летие Конгресса, <b>юбилейная XI отчетно-выборная Ассамблея ICIE в Минске</b> (Беларусь). <b>Избран новый
                                        состав руководящих органов Конгресса.</b></p>
                                <p><b>Президентом ICIE</b> стал <b>Артем Чайка.</b></p>
                                <p>Заседание Совета ICIE в <b>г.Салоники</b> (Греция).</p>
                            </div>
                            <div class="about-slider__content-photo">
                                <img src="/Resources/mkpp/img/about_slider/2017_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-slider__nav">
                    <div class="about-slider__nav-item" data-nav-index="0">
                        <p>1992</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="1">
                        <p>1993</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="2">
                        <p>1994</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="3">
                        <p>1995</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="4">
                        <p>1996</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="5">
                        <p>1997</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="6">
                        <p>1998</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="7">
                        <p>1999</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="8">
                        <p>2000</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="9">
                        <p>2001</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="10">
                        <p>2002</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="11">
                        <p>2003</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="12">
                        <p>2004</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="13">
                        <p>2005</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="14">
                        <p>2006</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="15">
                        <p>2007</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="16">
                        <p>2008</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="17">
                        <p>2009</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="18">
                        <p>2010</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="19">
                        <p>2011</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="20">
                        <p>2012</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="21">
                        <p>2013</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="22">
                        <p>2014</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="23">
                        <p>2015</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="24">
                        <p>2016</p>
                    </div>
                    <div class="about-slider__nav-item" data-nav-index="25">
                        <p>2017</p>
                    </div>
                </div>
            </div>
            <div class="about-user about-user__right">
                <div class="about-user__info-mobile">
                    <h2>Василий Тарлев</h2>
                    <p>Председатель Совета ICIE</p>
                </div>
                <div class="about-user__info">
                    <h2>Василий Тарлев</h2>
                    <p>Председатель Совета ICIE</p>
                    <p class="about-user__descr">"Международный Конгресс, исходя из своего предназначения в консолидации промышленников и предпринимателей и всех наших союзников, направлял и будет направлять свои усилия на улучшение деловой среды и поддержание баланса интересов общества, власти и бизнеса".</p>
                </div>
                <div class="about-user__photo">
                    <img src="/Resources/mkpp/img/tarlev.jpg" alt="">
                </div>
            </div>
            <div id="about-mission" class="about-mission">
                <div class="about-mission__content">
                    <h2>Миссия ICIE</h2>
                    <p>Представлять и объединять интересы бизнеса из разных стран и секторов экономики с целью сближения экономических интересов членов национальных союзов, промышленников и предпринимателей, представленных в Международном Конгрессе. Мы убеждены, что ничто так не объединяет людей, как успешные совместные проекты.</p>
                </div>
            </div>
            <div id="about-tasks" class="about-tasks">
                <h2>Стратегические цели и задачи</h2>
                <p>Мы осознаем, что за 27 лет произошли фундаментальные изменения в экономке и в мире в целом. Сегодня ICIE продолжает находить новые способы поддержки и развития промышленников и предпринимателей, помогающие компаниям внедрять инновации и развиваться, адаптироваться к новым условиям и добиваться успеха. Нашими стратегическими целями и задачами являются:</p>
                <div class="about-tasks__row about-tasks__row-bottom">
                    <div class="about-tasks__item about-tasks__item-first">
                        <p>Консолидация усилий национальных общественных организаций деловых кругов и бизнес сообществ стран, представленных в Конгрессе, с целью роста предпринимательской активности и налаживания разносторонних взаимовыгодных экономических связей.</p>
                    </div>
                    <div class="about-tasks__item about-tasks__item-second">
                        <p>Содействие формированию общего эффективного экономического пространства на основе объединения материального и интеллектуального потенциала промышленников и предпринимателей из различных государств Европы и Азии.</p>
                    </div>
                </div>
                <div class="about-tasks__row about-tasks__row-top">
                    <div class="about-tasks__item about-tasks__item-third">
                        <p>Координация действий членов Конгресса и заинтересованных партнерских организаций по созданию и функционированию эффективных механизмов и инструментов взаимовыгодного делового сотрудничества и оптимальных условий для предпринимательской активности.</p>
                    </div>
                    <div class="about-tasks__item about-tasks__item-fourth">
                        <p>Оказание практической помощи в пределах компетенции Конгресса в становлении и развитии организаций различных форм собственности и хозяйствования, их адаптации к современным условиям рыночной экономики, производственной и коммерческой деятельности, в расширении их международных связей, содействие в реализации конкретных бизнес проектов.</p>
                    </div>
                </div>
            </div>
            <div id="about-structure" class="about-structure">
                <h2>Структура</h2>
                <p>Для реализации на практике базовых направлений деятельности Международного Конгресса действует соответствующая структура управления и его рабочих органов.</p>
                <div class="about-structure__tabs tabs">
                    <div class="tabs-control">
                        <h3>Органы управления<br>Конгрессом</h3>
                        <div class="tabs-control__row">
                            <a href="#assembly" class="tabs-control__item active">Ассамблея ICIE</a>
                            <a href="#president" class="tabs-control__item">Президент ICIE</a>
                            <div class="tabs-control__item-row">
                                <a href="#board" class="tabs-control__item">Совет ICIE</a>
                                <a href="#board-chairman" class="tabs-control__item">· Председатель</a>
                                <a href="#board-composition" class="tabs-control__item">· Состав</a>
                                <a href="#board-presidium" class="tabs-control__item">· Президиум</a>
                            </div>
                            <div class="tabs-control__item-row">
                                <a href="#commission" class="tabs-control__item">Контрольная комиссия ICIE</a>
                                <a href="#commission-chairman" class="tabs-control__item">· Председатель</a>
                                <a href="#commission-composition" class="tabs-control__item">· Состав</a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-content">
                        <div id="assembly" class="tabs-content__item active">
                            <p>Высший  коллегиальный орган управления Международного Конгресса промышленников и предпринимателей.</p>
                            <p>Созывается не реже одного раза в четыре года,  состоит из представителей членов Конгресса и правомочна рассматривать любые вопросы деятельности ICIE.</p>
                            <p>Порядок избрания представителей на Ассамблею, дата и место ее проведения определяется решением Совета Конгресса.</p>
                            <p>Ассамблея Конгресса считается правомочной, если в ее работе принимают участие представители от более половины членов Конгресса.</p>
                        </div>
                        <div id="president" class="tabs-content__item">
                            <div class="tabs-content__item-img">
                                <img src="/Resources/mkpp/img/chaika.jpg" alt="">
                            </div>
                            <p><b>Артем Чайка</b></p>
                            <p>Единоличный исполнительный орган Конгресса. Избирается Ассамблеей ICIE на четыре года.</p>
                            <p>Президент осуществляет руководство текущей деятельностью Конгресса, представляет интересы ICIE в отношениях с юридическими и физическими лицами, государственными, общественными, международными и межправительственными организациями.</p>
                            <p>Родился 25 сентября 1975 года.</p>
                            <p>Российский предприниматель и общественный деятель, избран Президентом ICIE в сентябре 2017 года.</p>
                            <p>Член Правления Российского Союза промышленников и предпринимателей.</p>
                            <p>Г-н Чайка имеет более чем 20-ти летний опыт ведения бизнеса в различных отраслях.</p>
                            <p>Является учредителем и акционером группы компаний по добыче полезных ископаемых, производству строительных материалов, оказанию услуг в сфере проектирования и строительства.</p>
                            <p>Окончил юридический факультет Иркутского государственного университета.</p>
                            <p>Имеет степень кандидата юридических наук.</p>
                        </div>
                        <div id="board" class="tabs-content__item">
                            <p>Постоянно действующий коллегиальный  орган управления ICIE в период между заседаниями Ассамблеи Конгресса. Избирается сроком на четыре года и включает в свой состав представителей от всех членов Конгресса. Созывается не реже одного раза в год.</p>
                            <p>Совет осуществляет общее руководство деятельностью организации, в том числе формирует Президиум Совета Конгресса, ведет прием в члены, утверждает финансовые документы ICIE, принимает решения по вопросам открытия и прекращения деятельности филиалов и представительств Конгресса, а также его участия в других организациях.</p>
                        </div>
                        <div id="board-chairman" class="tabs-content__item">
                            <div class="tabs-content__item-img">
                                <img src="/Resources/mkpp/img/tarlev.jpg" alt="">
                            </div>
                            <p><b>Василий Тарлев</b></p>
                            <p>Родился 9 ноября 1963 года.</p>
                            <p>Председатель Совета ICIE с 2014 г., Президент Национального Конгресса промышленников и предпринимателей Молдовы.</p>
                            <p>Василий Тарлев – видный государственный и общественный деятель Молдовы. Премьер-министр Республики Молдова (2001- 2008 гг.).</p>
                            <p>Имеет богатый производственный опыт, прошел путь от главного механика до генерального директора,  успешно возглавлял ряд предпринимательских структур Республики Молдова.   </p>
                            <p>Получил высшее техническое  образование в Кишиневском политехническом институте.</p>
                            <p>Имеет степень доктора экономических наук, является Академиком Международной Академии компьютерных наук и систем.</p>
                            <p>Награжден высшей  государственной наградой Республики Молдова «Орден Республики», удостоен многих наград  и почетных званий Молдовы и ряда международных организаций.</p>
                        </div>
                        <div id="board-composition" class="tabs-content__item">
                            <p>1. Василий Тарлев — Председатель Совета ICIE, Президент Национального Конгресса промышленников и предпринимателей Молдовы</p>
                            <p>2. Артем Чайка — Президент ICIE</p>
                            <p>3. Валерий Казюлин  — Заместитель Председателя Совета ICIE</p>
                            <p>4. Мамед Мусаев — Заместитель Председателя Совета ICIE, Президент Национальной Конфедерации организаций предпринимателей (работодателей) Азербайджанской Республики</p>
                            <p>5. Шариф Саид  — Заместитель Председателя Совета ICIE</p>
                            <p>6.Александр Агеев — Генеральный директор НП «Институт экономических стратегий», РФ</p>
                            <p>7. Кадыр Байкенов — Председатель Правления Конфедерации работодателей Республики Казахстан, руководитель Представительства ICIE в Республике Казахстан</p>
                            <p>8.Ханна Вельгош — Президент «Восточного клуба» (Общество по поддержке экономического сотрудничества Польши со странами СНГ)</p>
                            <p>9. Васил Велев — Вице-президент Конфедерации Болгарской  индустрии</p>
                            <p>10.Юрий Виноградов — Президент – Председатель Правления Ассоциации «Строительный комплекс МКПП»</p>
                            <p>11. Тийт Вяхи — Член Правления Ассоциации крупных предпринимателей Эстонии</p>
                            <p>12.Виталий Гаврилов — Президент Конфедерации работодателей Латвийской Республики</p>
                            <p>13. Ахад Газайи — Председатель Координационного Совета ICIE по взаимодействию с бизнес-объединениями стран Ближнего Востока</p>
                            <p>14.Александр Гирзекорн — Руководитель Представительства ICIE по взаимодействию с деловыми кругами стран Балтийского региона</p>
                            <p>15. Виктор Глухих — Почетный Президент ICIE</p>
                            <p>16. Ирина Горбулина — Президент Российской Академии бизнеса и предпринимательства</p>
                            <p>17. Пламен Грозданов — Исполнительный директор Союза малого и среднего бизнеса Болгарии «Произведено в Болгарии»</p>
                            <p>18. Эрдоган Гюндузполат — Президент компании «РЕКОН», Турецкая Республика</p>
                            <p>19. Тибор Дябронка — Заместитель Председателя Венгерского Делового Клуба сотрудничества «Восточная Европа»</p>
                            <p>20. Ольга Есаулова — Председатель Комитета по агропромышленному комплексу, Директор по развитию государственно-частного партнерства корпорации «Росатом»</p>
                            <p>21. Алла Захарова-Гаврилова — Председатель Совета директоров АО «ОЗГЕО», РФ</p>
                            <p>22.Адхам Икрамов — Председатель Торгово-промышленной палаты Республики Узбекистан</p>
                            <p>23.Арсен Казарян — Президент Союза промышленников и предпринимателей (работодателей) Армении</p>
                            <p>24.Анатолий  Кинах — Президент Украинского союза промышленников и предпринимателей</p>
                            <p>25. Сергей Коротков — Директор российского Центра международного промышленного сотрудничества Организации Объединенных наций по промышленному развитию (ЮНИДО)</p>
                            <p>26. Сунг Йонг Ли — Президент Форума «За будущее экономическое развитие», Республика Корея</p>
                            <p>27. Григорий Лучанский — Основатель австрийской группы компаний «Нордекс»</p>
                            <p>28. Элгуджа Меладзе — Президент Ассоциации работодателей Грузии</p>
                            <p>29.Юозас Мильтянис — Председатель Правления – Генеральный директор компании “Green Energy&Consulting” ,  Литовская Республика</p>
                            <p>30. Ирина Митрохина — Управляющий директор организационного управления ICIE</p>
                            <p>31. Александр Мурычев — Исполнительный вице-президент Российского союза промышленников и предпринимателей</p>
                            <p>32. Аблай Мырзахметов — Председатель Правления Национальной палаты предпринимателей Республики Казахстан «Атамекен»</p>
                            <p>33. Евгений Овчинников — Председатель Правления Консорциума «Центр реализации проектов ICIE»</p>
                            <p>34. Анатолий Перцев — Председатель Комитета ICIE по вопросам обеспечения безопасности в сфере предпринимательской деятельности, Президент Института проблем безопасности и устойчивого развития, РФ</p>
                            <p>35. Янез Подобник — Президент Ассоциации промышленников и предпринимателей Республики Словения</p>
                            <p>36. Вячеслав Пшеничников — Первый исполнительный вице-президент ICIE</p>
                            <p>37. Джордже Пэунеску — Президент Генерального союза промышленников Румынии</p>
                            <p>38. Владимир Ремыга — Председатель Координационного Совета ICIE по взаимодействию с бизнес-объединениями стран Азии</p>
                            <p>39. Евгений Русецкий — Руководитель Представительства ICIE в Азиатско-Тихоокеанском регионе</p>
                            <p>40. Атанасиос Саввакис — Президент Федерации промышленности Северной Греции</p>
                            <p>41. Жиргалбек Сагынбаев — Президент Кыргызского союза промышленников и предпринимателей</p>
                            <p>42. Эльчин Сеидов — Председатель Комитета ICIE по сотрудничеству в сфере торговли и услуг, Председатель Правления ООО «ЮНИТЕКС», РФ</p>
                            <p>43. Гинтарас Скобас — Руководитель Представительства ICIE в Литовской Республике</p>
                            <p>44. Сэм Соловей — Генеральный директор Общества международного делового взаимодействия, ФРГ</p>
                            <p>45. Кръстю Станилов — Почетный  Президент Конфедерации болгарской индустрии</p>
                            <p>46. Сашко Станинов — Президент Союза промышленников, бизнесменов и предпринимателей Македонии</p>
                            <p>47. Ян Струж — Президент Ассоциации «ЧЕХ ТОП 100», Чешская Республика</p>
                            <p>48. Артем Тараненко — Руководитель Представительства ICIE в Украине</p>
                            <p>49. Виктор Толмачев — Председатель Комитета ICIE по вопросам корпоративного управления в целях инновационного развития, Председатель Наблюдательного совета компании «АКИГ», РФ</p>
                            <p>50.Анатолий Харлап —  Председатель Белорусской Республиканской ассоциации предприятий промышленности «БелАПП»</p>
                            <p>51. Александр Швец — Председатель Республиканского общественного объединения «Белорусская научно-промышленная ассоциация»</p>
                            <p>52. Илья Шпуров — Председатель Комитета ICIE по развитию инновационных форм бизнеса, Президент группы компаний «ИНПАРК», РФ</p>
                            <p>53. Кюао Юанькинг — Директор Ассоциации «Совет по содействию в интернационализации технологий Китая» </p>
                            <p>54. Милан Янкович — Президент Ассоциации работодателей Сербии</p>
                        </div>
                        <div id="board-presidium" class="tabs-content__item">
                            <p>Осуществляет оперативное руководство деятельностью Конгресса. Избирается сроком на один год. Заседания Президиума проводятся не реже одного раза в три месяца.</p>
                            <p>В период между заседаниями Совета рассматривает и принимает решения по вопросам, входящим в компетенцию Совета, с последующим  внесением их для утверждения Советом ICIE.</p>
                        </div>
                        <div id="commission" class="tabs-content__item">
                            <p>Осуществляет контроль финансово-хозяйственной деятельности Конгресса. Избирается Ассамблеей из числа членов ICIE сроком на четыре года.</p>
                        </div>
                        <div id="commission-chairman" class="tabs-content__item">
                            <div class="tabs-content__item-img">
                                <img src="/Resources/mkpp/img/strautinsh.jpg" alt="">
                            </div>
                            <p><b>Ивар Страутыньш</b></p>
                            <p>Родился 2 июля 1942 года</p>
                            <p>Вице-президент Конфедерации работодателей Латвии.</p>
                            <p>Имеет большой опыт успешной руководящей и общественной деятельности, в т.ч. в органах законодательной власти Латвии и СССР (депутат Верховных Советов),  а также общественных организациях деловых кругов. Много лет активно взаимодействует с ICIE, Российским союзом промышленников и предпринимателей, региональными бизнес – структурами областей РФ, других соседних с Латвией стран. </p>
                            <p>Окончил Всесоюзный заочный институт советской торговли.</p>
                        </div>
                        <div id="commission-composition" class="tabs-content__item">
                            <p>1. Ивар Страутыньш — Председатель Контрольной комиссии ICIE, Вице-президент Конфедерации работодателей Латвийской Республики</p>
                            <p>2. Елизавета Березина — Генеральный директор ООО «Истра-логистика», РФ</p>
                            <p>3. Андрей Биров — Директор по маркетингу порта Силламяэ, ответственный секретарь Ассоциации крупных предпринимателей Эстонии</p>
                            <p>4. Михаил Вельгош — Председатель Правления Львовской областной организации работодателей, Украина</p>
                            <p>5. Владимир Лелюх — Заместитель Генерального директора ООО «Сбербанк Капитал», РФ</p>
                            <p>6. Магомедали Эфендиев — Главный советник Национальной Конфедерации организаций предпринимателей (работодателей) Азербайджанской Республики</p>
                        </div>
                    </div>
                </div>
                <div class="about-structure__mobile">
                    <h3>Органы управления<br>Конгрессом</h3>
                    <div class="about-structure__mobile-block">
                        <h4>Ассамблея ICIE</h4>
                        <p>Высший  коллегиальный орган управления Международного Конгресса промышленников и предпринимателей.</p>
                        <p>Созывается не реже одного раза в четыре года,  состоит из представителей членов Конгресса и правомочна рассматривать любые вопросы деятельности ICIE.</p>
                        <p>Порядок избрания представителей на Ассамблею, дата и место ее проведения определяется решением Совета Конгресса.</p>
                        <p>Ассамблея Конгресса считается правомочной, если в ее работе принимают участие представители от более половины членов Конгресса.</p>
                    </div>
                    <div class="about-structure__mobile-block">
                        <h4>Президент ICIE</h4>
                        <div class="tabs-content__item-img">
                            <img src="/Resources/mkpp/img/chaika.jpg" alt="">
                        </div>
                        <p><b>Артем Чайка</b></p>
                        <p>Единоличный исполнительный орган Конгресса. Избирается Ассамблеей ICIE на четыре года.</p>
                        <p>Президент осуществляет руководство текущей деятельностью Конгресса, представляет интересы ICIE в отношениях с юридическими и физическими лицами, государственными, общественными, международными и межправительственными организациями.</p>
                        <p>Родился 25 сентября 1975 года.</p>
                        <p>Российский предприниматель и общественный деятель, избран Президентом ICIE в сентябре 2017 года.</p>
                        <p>Член Правления Российского Союза промышленников и предпринимателей.</p>
                        <p>Г-н Чайка имеет более чем 20-ти летний опыт ведения бизнеса в различных отраслях.</p>
                        <p>Является учредителем и акционером группы компаний по добыче полезных ископаемых, производству строительных материалов, оказанию услуг в сфере проектирования и строительства.</p>
                        <p>Окончил юридический факультет Иркутского государственного университета.</p>
                        <p>Имеет степень кандидата юридических наук.</p>
                    </div>
                    <div class="about-structure__mobile-block">
                        <h4>Совет ICIE</h4>
                        <span class="about-structure__mobile-title">Председатель</span>
                        <div class="tabs-content__item-img">
                            <img src="/Resources/mkpp/img/tarlev.jpg" alt="">
                        </div>
                        <p><b>Василий Тарлев</b></p>
                        <p>Родился 9 ноября 1963 года.</p>
                        <p>Председатель Совета ICIE с 2014 г., Президент Национального Конгресса промышленников и предпринимателей Молдовы.</p>
                        <p>Василий Тарлев – видный государственный и общественный деятель Молдовы. Премьер-министр Республики Молдова (2001- 2008 гг.).</p>
                        <p>Имеет богатый производственный опыт, прошел путь от главного механика до генерального директора,  успешно возглавлял ряд предпринимательских структур Республики Молдова.   </p>
                        <p>Получил высшее техническое  образование в Кишиневском политехническом институте.</p>
                        <p>Имеет степень доктора экономических наук, является Академиком Международной Академии компьютерных наук и систем.</p>
                        <p>Награжден высшей  государственной наградой Республики Молдова «Орден Республики», удостоен многих наград  и почетных званий Молдовы и ряда международных организаций.</p>
                        <span class="about-structure__mobile-title">Состав </span>
                        <p>1. Василий Тарлев — Председатель Совета ICIE, Президент Национального Конгресса промышленников и предпринимателей Молдовы</p>
                        <p>2. Артем Чайка — Президент ICIE</p>
                        <p>3. Валерий Казюлин  — Заместитель Председателя Совета ICIE</p>
                        <p>4. Мамед Мусаев — Заместитель Председателя Совета ICIE, Президент Национальной Конфедерации организаций предпринимателей (работодателей) Азербайджанской Республики</p>
                        <p>5. Шариф Саид  — Заместитель Председателя Совета ICIE</p>
                        <p>6.Александр Агеев — Генеральный директор НП «Институт экономических стратегий», РФ</p>
                        <p>7. Кадыр Байкенов — Председатель Правления Конфедерации работодателей Республики Казахстан, руководитель Представительства ICIE в Республике Казахстан</p>
                        <p>8.Ханна Вельгош — Президент «Восточного клуба» (Общество по поддержке экономического сотрудничества Польши со странами СНГ)</p>
                        <p>9. Васил Велев — Вице-президент Конфедерации Болгарской  индустрии</p>
                        <p>10.Юрий Виноградов — Президент – Председатель Правления Ассоциации «Строительный комплекс МКПП»</p>
                        <p>11. Тийт Вяхи — Член Правления Ассоциации крупных предпринимателей Эстонии</p>
                        <p>12.Виталий Гаврилов — Президент Конфедерации работодателей Латвийской Республики</p>
                        <p>13. Ахад Газайи — Председатель Координационного Совета ICIE по взаимодействию с бизнес-объединениями стран Ближнего Востока</p>
                        <p>14.Александр Гирзекорн — Руководитель Представительства ICIE по взаимодействию с деловыми кругами стран Балтийского региона</p>
                        <p>15. Виктор Глухих — Почетный Президент ICIE</p>
                        <p>16. Ирина Горбулина — Президент Российской Академии бизнеса и предпринимательства</p>
                        <p>17. Пламен Грозданов — Исполнительный директор Союза малого и среднего бизнеса Болгарии «Произведено в Болгарии»</p>
                        <p>18. Эрдоган Гюндузполат — Президент компании «РЕКОН», Турецкая Республика</p>
                        <p>19. Тибор Дябронка — Заместитель Председателя Венгерского Делового Клуба сотрудничества «Восточная Европа»</p>
                        <p>20. Ольга Есаулова — Председатель Комитета по агропромышленному комплексу, Директор по развитию государственно-частного партнерства корпорации «Росатом»</p>
                        <p>21. Алла Захарова-Гаврилова — Председатель Совета директоров АО «ОЗГЕО», РФ</p>
                        <p>22.Адхам Икрамов — Председатель Торгово-промышленной палаты Республики Узбекистан</p>
                        <p>23.Арсен Казарян — Президент Союза промышленников и предпринимателей (работодателей) Армении</p>
                        <p>24.Анатолий  Кинах — Президент Украинского союза промышленников и предпринимателей</p>
                        <p>25. Сергей Коротков — Директор российского Центра международного промышленного сотрудничества Организации Объединенных наций по промышленному развитию (ЮНИДО)</p>
                        <p>26. Сунг Йонг Ли — Президент Форума «За будущее экономическое развитие», Республика Корея</p>
                        <p>27. Григорий Лучанский — Основатель австрийской группы компаний «Нордекс»</p>
                        <p>28. Элгуджа Меладзе — Президент Ассоциации работодателей Грузии</p>
                        <p>29.Юозас Мильтянис — Председатель Правления – Генеральный директор компании “Green Energy&Consulting” ,  Литовская Республика</p>
                        <p>30. Ирина Митрохина — Управляющий директор организационного управления ICIE</p>
                        <p>31. Александр Мурычев — Исполнительный вице-президент Российского союза промышленников и предпринимателей</p>
                        <p>32. Аблай Мырзахметов — Председатель Правления Национальной палаты предпринимателей Республики Казахстан «Атамекен»</p>
                        <p>33. Евгений Овчинников — Председатель Правления Консорциума «Центр реализации проектов ICIE»</p>
                        <p>34. Анатолий Перцев — Председатель Комитета ICIE по вопросам обеспечения безопасности в сфере предпринимательской деятельности, Президент Института проблем безопасности и устойчивого развития, РФ</p>
                        <p>35. Янез Подобник — Президент Ассоциации промышленников и предпринимателей Республики Словения</p>
                        <p>36. Вячеслав Пшеничников — Первый исполнительный вице-президент ICIE</p>
                        <p>37. Джордже Пэунеску — Президент Генерального союза промышленников Румынии</p>
                        <p>38. Владимир Ремыга — Председатель Координационного Совета ICIE по взаимодействию с бизнес-объединениями стран Азии</p>
                        <p>39. Евгений Русецкий — Руководитель Представительства ICIE в Азиатско-Тихоокеанском регионе</p>
                        <p>40. Атанасиос Саввакис — Президент Федерации промышленности Северной Греции</p>
                        <p>41. Жиргалбек Сагынбаев — Президент Кыргызского союза промышленников и предпринимателей</p>
                        <p>42. Эльчин Сеидов — Председатель Комитета ICIE по сотрудничеству в сфере торговли и услуг, Председатель Правления ООО «ЮНИТЕКС», РФ</p>
                        <p>43. Гинтарас Скобас — Руководитель Представительства ICIE в Литовской Республике</p>
                        <p>44. Сэм Соловей — Генеральный директор Общества международного делового взаимодействия, ФРГ</p>
                        <p>45. Кръстю Станилов — Почетный  Президент Конфедерации болгарской индустрии</p>
                        <p>46. Сашко Станинов — Президент Союза промышленников, бизнесменов и предпринимателей Македонии</p>
                        <p>47. Ян Струж — Президент Ассоциации «ЧЕХ ТОП 100», Чешская Республика</p>
                        <p>48. Артем Тараненко — Руководитель Представительства ICIE в Украине</p>
                        <p>49. Виктор Толмачев — Председатель Комитета ICIE по вопросам корпоративного управления в целях инновационного развития, Председатель Наблюдательного совета компании «АКИГ», РФ</p>
                        <p>50.Анатолий Харлап —  Председатель Белорусской Республиканской ассоциации предприятий промышленности «БелАПП»</p>
                        <p>51. Александр Швец — Председатель Республиканского общественного объединения «Белорусская научно-промышленная ассоциация»</p>
                        <p>52. Илья Шпуров — Председатель Комитета ICIE по развитию инновационных форм бизнеса, Президент группы компаний «ИНПАРК», РФ</p>
                        <p>53. Кюао Юанькинг — Директор Ассоциации «Совет по содействию в интернационализации технологий Китая» </p>
                        <p>54. Милан Янкович — Президент Ассоциации работодателей Сербии</p>
                        <span class="about-structure__mobile-title">Президиум</span>
                        <p>Осуществляет оперативное руководство деятельностью Конгресса. Избирается сроком на один год. Заседания Президиума проводятся не реже одного раза в три месяца.</p>
                        <p>В период между заседаниями Совета рассматривает и принимает решения по вопросам, входящим в компетенцию Совета, с последующим  внесением их для утверждения Советом ICIE.</p>
                    </div>
                    <div class="about-structure__mobile-block">
                        <h4>Контрольная комиссия ICIE</h4>
                        <span class="about-structure__mobile-title">Председатель</span>
                        <div class="tabs-content__item-img">
                            <img src="/Resources/mkpp/img/strautinsh.jpg" alt="">
                        </div>
                        <p><b>Ивар Страутыньш</b></p>
                        <p>Родился 2 июля 1942 года</p>
                        <p>Вице-президент Конфедерации работодателей Латвии.</p>
                        <p>Имеет большой опыт успешной руководящей и общественной деятельности, в т.ч. в органах законодательной власти Латвии и СССР (депутат Верховных Советов),  а также общественных организациях деловых кругов. Много лет активно взаимодействует с ICIE, Российским союзом промышленников и предпринимателей, региональными бизнес – структурами областей РФ, других соседних с Латвией стран. </p>
                        <p>Окончил Всесоюзный заочный институт советской торговли.</p>
                        <span class="about-structure__mobile-title">Состав</span>
                        <p>1. Ивар Страутыньш — Председатель Контрольной комиссии ICIE, Вице-президент Конфедерации работодателей Латвийской Республики</p>
                        <p>2. Елизавета Березина — Генеральный директор ООО «Истра-логистика», РФ</p>
                        <p>3. Андрей Биров — Директор по маркетингу порта Силламяэ, ответственный секретарь Ассоциации крупных предпринимателей Эстонии</p>
                        <p>4. Михаил Вельгош — Председатель Правления Львовской областной организации работодателей, Украина</p>
                        <p>5. Владимир Лелюх — Заместитель Генерального директора ООО «Сбербанк Капитал», РФ</p>
                        <p>6. Магомедали Эфендиев — Главный советник Национальной Конфедерации организаций предпринимателей (работодателей) Азербайджанской Республики</p>
                    </div>
                </div>
            </div>
            <div id="about-base" class="about-base">
                <h2>Институциональная база ICIE</h2>
                <div class="about-base__row">
                    <div class="about-base__item">
                        <h3>Координационные Советы</h3>
                        <p>Координационный Совет по взаимодействию с бизнес объединениями стран Азии</p>
                        <p>Координационный Совет по взаимодействию с бизнес объединениями стран Ближнего Востока</p>
                    </div>
                    <div class="about-base__item">
                        <h3>Комитеты </h3>
                        <p>Комитет по сотрудничеству в области машиностроения</p>
                        <p>Комитет по связям с отраслевыми объединениями промышленников и предпринимателей и координации деятельности отраслевых бизнес-структур</p>
                        <p>Комитет по вопросам корпоративного управления в целях инновационного развития</p>
                        <p>Комитет по вопросам обеспечения безопасности в сфере предпринимательской деятельности</p>
                        <p>Комитет по развитию инновационных форм бизнеса</p>
                        <p>Комитет  по сотрудничеству в сфере торговли и услуг</p>
                        <p>Комитет по рынкам труда и миграционной политике</p>
                        <p>Комитет по минеральным ресурсам</p>
                        <p>Комитет по агропромышленному комплексу</p>
                        <p>Комитет по правовым вопросам</p>
                        <p>Комитет по инвестиционной и финансово-банковской деятельности</p>
                        <p>Комитет по инвестиционной политике в области строительной индустрии</p>
                        <p>Консорциум «Центр реализации проектов ICIE»</p>
                        <p>Строительно-инвестиционная Ассоциация «Строительный комплекс ICIE»</p>
                    </div>
                    <div class="about-base__item">
                        <h3>Представительства</h3>
                        <p>Представительство в Литовской Республике</p>
                        <p>Представительство в Украине</p>
                        <p>Представительство при Организации Объединенных Наций по промышленному развитию (ЮНИДО)</p>
                        <p>Представительство по взаимодействию с деловыми кругами стран Балтийского региона</p>
                        <p>Представительство в Азиатско-Тихоокеанском регионе</p>
                        <p>Представительство в Республике Казахстан</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("about").classList.add("active");
    </script>
{% endblock %}
