{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="account">
        <div class="account-header">
            <p>Личный кабинет</p>
            <h2>Константинопольский Константин Константинович</h2>
            <a href="{{ path('fos_user_security_logout') }}" class="account-header__logout">Выйти</a>
        </div>
        <div class="account-main">
            <div class="account-tabs">
                <a href="#solutions" class="account-tabs__item active">Решения <span>232</span></a>
                <a href="#projects" class="account-tabs__item">Проекты <span>23</span></a>
                <a href="#files" class="account-tabs__item">Файлы <span>5</span></a>
            </div>
            <div id="solutions" class="account-results active">
                <div class="account-results__column">
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>8 декабря 2017 г.</span>
                            <span>№ РП - 245</span>
                        </p>
                    </a>
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>8 декабря 2017 г.</span>
                            <span>№ РП - 245</span>
                        </p>
                    </a>
                </div>
                <div class="account-results__column">
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с </p>
                        <p class="events-sidebar__solution-date">
                            <span>8 декабря 2017 г.</span>
                            <span>№ РП - 245</span>
                        </p>
                    </a>
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>8 декабря 2017 г.</span>
                            <span>№ РП - 245</span>
                        </p>
                    </a>
                </div>
                <div class="account-results__column">
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>8 декабря 2017 г.</span>
                            <span>№ РП - 245</span>
                        </p>
                    </a>
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>8 декабря 2017 г.</span>
                            <span>№ РП - 245</span>
                        </p>
                    </a>
                </div>
            </div>
            <div id="projects" class="account-results">
                <div class="account-results__column">
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>Автор: Валерий Черниговский </span>
                            <span>8 декабря 2017 г.</span>
                        </p>
                    </a>
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>Автор: Валерий Черниговский </span>
                            <span>8 декабря 2017 г.</span>
                        </p>
                    </a>
                </div>
                <div class="account-results__column">
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>Автор: Валерий Черниговский </span>
                            <span>8 декабря 2017 г.</span>
                        </p>
                    </a>
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>Автор: Валерий Черниговский </span>
                            <span>8 декабря 2017 г.</span>
                        </p>
                    </a>
                </div>
                <div class="account-results__column">
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>Автор: Валерий Черниговский </span>
                            <span>8 декабря 2017 г.</span>
                        </p>
                    </a>
                    <a href="" class="events-sidebar__solution">
                        <p class="events-sidebar__solution-descr">Об инвестиционных и тематических проектах и программах
                            Свердловской
                            области, предлагаемых для реализации с участием членов и партнеров
                            Международного Конгресса промышленников и предпринимателей</p>
                        <p class="events-sidebar__solution-date">
                            <span>Автор: Валерий Черниговский </span>
                            <span>8 декабря 2017 г.</span>
                        </p>
                    </a>
                </div>
            </div>
            <div id="files" class="account-results">
                <div class="account-results__column media-graphics">
                    <a href="" class="media-graphics__item">Логотип МКПП (русская версия) для печати
                        LogoICIE_rus.pdf</a>
                    <a href="" class="media-graphics__item">Руководство по фирменному стилю GuidelineICIE.pdf</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

