<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ICIE</title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ asset('Resources/mkpp/css/main.css') }}">

</head>

<body>
<div class="wrapper">
    <header class="header fixed">
        <div class="header-content">
            <div class="logo">
                <a href="/" class="logo-link">
                    <img src="{{ asset('Resources/mkpp/img/icie_logo.svg') }}" alt="">
                    <p>Международный конгресс Промышленников и Предпринимателей</p>
                </a>
            </div>
            <div class="navigate">
                <div class="navigate-top">
                    <h1>Бизнес-дипломатия <span>в действии</span></h1>
                    <div>
                        <div class="navigate-language">
                            <select>
                                <option value="rus" selected>Русский</option>
                                <option value="en">Английский</option>
                            </select>
                        </div>
                        <a href="{{ path('account') }}" class="navigate-link-lk">Личный Кабинет</a>
                    </div>
                </div>
                <nav class="navigate-list">
                    <a href="{{ path('about') }}" id="about" class="navigate-link">О Конгрессе</a>
                    <a href="{{ path('events') }}" id="events" class="navigate-link">События</a>
                    <a href="{{ path('members') }}" id="members" class="navigate-link">Членство</a>
                    <a href="{{ path('progress') }}" id="progress" class="navigate-link">Устойчивое развитие</a>
                    <a href="{{ path('media') }}" id="media" class="navigate-link">Медиа</a>
                    <a href="{{ path('contacts') }}" id="contacts" class="navigate-link">Контакты</a>
                </nav>
            </div>
        </div>
        <div class="header-menu-icon">
            <img src="{{ asset('Resources/mkpp/img/hamburger.svg') }}" class="header-menu-icon__hamburger" alt="">
            <img src="{{ asset('Resources/mkpp/img/cancel.svg') }}" class="header-menu-icon__cancel" alt="">
        </div>
        <div class="header-mobile">
            <nav class="navigate-mobile-list">
                <a href="{{ path('about') }}" id="about" class="navigate-mobile-link">О Конгрессе</a>
                <a href="{{ path('events') }}" id="events" class="navigate-mobile-link">События</a>
                <a href="{{ path('members') }}" id="members" class="navigate-mobile-link">Членство</a>
                <a href="{{ path('progress') }}" id="progress" class="navigate-mobile-link">Устойчивое развитие</a>
                <a href="{{ path('media') }}" id="media" class="navigate-mobile-link">Медиа</a>
                <a href="{{ path('contacts') }}" id="contacts" class="navigate-mobile-link">Контакты</a>
                <a href="{{ path('account') }}" class="navigate-mobile-link navigate-mobile-link_lk">Личный Кабинет</a>
            </nav>
            <div class="navigate-mobile-language">
                <select>
                    <option value="rus" selected>Русский</option>
                    <option value="en">Английский</option>
                </select>
            </div>
        </div>
    </header>
    <div class="grid"></div>
    <button class="switch-grid" title="Включение/отключение сетки, данная функция доступна только в режиме разработки">Включить сетку</button>
    {%  block content %}

    {% endblock %}
</div>
{%  block scripts %}

{% endblock %}
<script src="{{ asset('Resources/mkpp/js/main.js') }}"></script>
</body>

</html>
