{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="contacts">
        <div class="contacts-img">
            <img src="/Resources/mkpp/img/contacts-bg.jpg" alt="">
        </div>
        <div class="contacts-info">
            <h2>Головной офис ICIE</h2>
            <div class="contacts-info__item">
                <div class="contacts-info__data pure">
                    <div>
                        <a href="tel:+7 (495) 249-12-51">+7 (495) 249-12-51</a>
                        <a href="tel:+7 (495) 249-12-56">+7 (495) 249-12-56</a>
                    </div>
                    <div>
                        <a href="mailto:office@ic-ie.com">office@ic-ie.com</a>
                    </div>
                    <div>
                        <p>119180, Россия, Москва, Большая Якиманка, д. 6</p>
                    </div>
                </div>
            </div>
            <h3>Представительства ICIE</h3>
            <div class="contacts-info__links">
                <a href="javascript:;">Представительство в Литовской Республике</a>
                <a href="javascript:;">Представительство в Украине</a>
                <a href="javascript:;">Представительство при Организации Объединенных Наций по промышленному развитию (ЮНИДО)</a>
                <a href="javascript:;">Представительство по взаимодействию с деловыми кругами стран Балтийского региона</a>
                <a href="javascript:;">Представительство в Азиатско-Тихоокеанском регионе</a>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("contacts").classList.add("active");
    </script>
{% endblock %}

