{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="events">
        <div class="events-top">
            <div class="events-top__calendar">
                <div class="events-top__calendar-control">
                    <div class="events-top__calendar-current">
                        <a href="#" class="events-top__calendar-link prev"></a>
                        <span>Сентябрь</span>
                        <a href="#" class="events-top__calendar-link next"></a>
                    </div>
                </div>
                <div id="calendar" class="events-top__calendar-wp"></div>
            </div>
            <div class="events-top__img">
                <img src="{{ asset('Resources/mkpp/img/events-bg.jpg') }}" alt="">
            </div>
        </div>
        {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

        <div class="events-content">
            {% set isMain = false %}

            {% for event in events %}
                {% if event.main %}
                    {% if not isMain %}
                        {% set isMain = true %}

                        <a href="{{ path('event_get', {id: event.id}) }}" class="events-item events-item__main">
                            <div class="events-item__header" style="background: grey">
                                <div class="events-item__header-date">
                                <span>{{ event.date|date("j") }}
                                    {{ mnths[event.date|date("n")] }}</span>
                                </div>
                                <div class="events-item__header-title">
                                    <h1>{{ event.caption }}</h1>
                                    <span>{{ event.type.name }}</span>
                                </div>
                            </div>
                            <div class="events-item__descr">
                                <span>г. Москва, Театр Оперы и Балета</span>
                                <span>11:30 — 18:00</span>
                                <p>{{ event.description }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <div class="events-list">
                {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
                {% for event in events %}
                    {% if not event.main %}
                        <a href="{{ path('event_get', {id: event.id}) }}" class="events-item events-item__partner">
                            <div class="events-item__header">
                                <img src="{{ event.image }}" alt="">
                                <div class="events-item__header-date">
                                <span>{{ event.date|date("j") }}
                                    {{ mnths[event.date|date("n")] }}</span>
                                </div>
                            </div>
                            <div class="events-item__descr">
                                <h2>{{ event.caption }}</h2>
                                <div class="events-item__header-title">
                                    <span>{{ event.type.name }}</span>
                                </div>
                                <p>{{ event.description }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="events-navigate">
                <a href="" class="events-navigate__link">События Августа</a>
                <a href="" class="events-navigate__link">События Октября</a>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("events").classList.add("active");
    </script>
{% endblock %}

