{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="events_page">
        <div class="events_page-top">
            <article class="events_page-side_menu sidebar">
                <div class="anchors">
                    <a href="{{ path('events') }}" class="anchors-link">Назад к Событиям</a>
                </div>
            </article>
            {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

            <div class="events_page-top__content">
                <div class="events_page-top__header">
                    <img src="{{ event.image }}" alt="">
                    <div class="events_page-top__header-date">
                        <span>{{ event.date|date("j") }}
                            {{ mnths[event.date|date("n")] }}</span>
                    </div>
                    <div class="events_page-top__header-title">
                        <h1>{{ event.caption }}</h1>
                        <a href="">{{ event.type.name }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="events_page-content">
            <div class="events_page-main">
                <div class="events_page-main__date">
                    <div class="events_page-main__date-info">
                        <h3>Дата и время:</h3>
                        <p>{{ event.date|date("j") }}
                            {{ mnths[event.date|date("n")] }} 16:30-19:00</p>
                        <h3>Место проведения:</h3>
                        <p>{{ event.place }}</p>
                    </div>
                    <a href="#signup-form" class="events_page-main__date-link modaal" data-modaal-type="inline"
                       data-modaal-animation="fade">Зарегистрироваться на событие</a>
                </div>
                <div class="events_page-main__text">
                    <p>{{ event.content | raw}}</p>
                </div>
            </div>
            <div class="events_page-sidebar sidebar">
                <div class="events_page-sidebar__speakers">
                    <h3>Докладчики</h3>
                    <div class="events_page-sidebar__user">
                        <div class="events_page-sidebar__user-photo">
                            <img src="{{ asset('Resources/mkpp/img/chaika.jpg') }}" alt="">
                        </div>
                        <div>
                            <p class="events_page-sidebar__user-name">Артем Чайка </p>
                            <p class="events_page-sidebar__user-descr">Президент ICIE</p>
                        </div>
                    </div>
                    <div class="events_page-sidebar__user">
                        <div class="events_page-sidebar__user-photo">
                            <img src="{{ asset('Resources/mkpp/img/pshenicnikiv.jpg') }}" alt="">
                        </div>
                        <div>
                            <p class="events_page-sidebar__user-name">Вячеслав Пшеничников</p>
                            <p class="events_page-sidebar__user-descr">Первый исполнительный вице-президент ICIE</p>
                        </div>
                    </div>
                </div>
                <div class="events_page-sidebar__solutions">
                    <h3>Решения</h3>
                    {#<div class="events_page-sidebar__column">#}
                        {#<a href="" class="events_page-sidebar__solution">#}
                            {#<p class="events_page-sidebar__solution-descr">Об инвестиционных и тематических проектах и#}
                                {#программах Свердловской области, предлагаемых для реализации с участием членов и#}
                                {#партнеров#}
                                {#Международного Конгресса промышленников и предпринимателей</p>#}
                            {#<p class="events_page-sidebar__solution-date">#}
                                {#<span>8 декабря 2017 г.</span>#}
                                {#<span>№ РП - 245</span>#}
                            {#</p>#}
                        {#</a>#}
                    {#</div>#}
                    {#<div class="events_page-sidebar__column">#}
                        {#<a href="" class="events_page-sidebar__solution">#}
                            {#<p class="events_page-sidebar__solution-descr">Задачи по развитию взаимодействия Конгресса с#}
                                {#регионами, представленных в МКПП государств</p>#}
                            {#<p class="events_page-sidebar__solution-date">#}
                                {#<span>8 декабря 2017 г.</span>#}
                                {#<span>№ РП - 246</span>#}
                            {#</p>#}
                        {#</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
        <div class="events_page-slider">
            <h2>Фото и видео</h2>
            <div class="events_page-slider__content">
                <div class="events_page-slider__media">
                    <a href="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}"
                       class="events_page-slider__media-item image modal-image">
                        <div class="events_page-slider__overlay"></div>
                        <img src="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}" alt="">
                    </a>
                    <a href="https://www.youtube.com/embed/mcixldqDIEQ"
                       class="events_page-slider__media-item video modal-video">
                        <div class="events_page-slider__overlay"></div>
                        <p class="events_page-slider__media-descr">Запись заседания президиума МКПП</p>
                        <img src="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}" alt="">
                    </a>
                    <a href="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}"
                       class="events_page-slider__media-item image modal-image">
                        <div class="events_page-slider__overlay"></div>
                        <img src="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}" alt="">
                    </a>
                    <a href="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}"
                       class="events_page-slider__media-item image modal-image">
                        <div class="events_page-slider__overlay"></div>
                        <img src="{{ asset('Resources/mkpp/img/architectural-design-architecture-building.jpg') }}" alt="">
                    </a>
                </div>
                <div class="events_page-slider__descr">
                    <div class="events_page-slider__descr-item">

                    </div>
                    <div class="events_page-slider__descr-item">

                    </div>
                    <div class="events_page-slider__descr-item">

                    </div>
                    <div class="events_page-slider__descr-item">

                    </div>
                </div>
            </div>
        </div>
        <div class="events_page-sponsors">
            <h2>Спонсоры и партнеры</h2>
            <div class="events_page-sponsors__logos">
                <div class="events_page-sponsors__slider">
                    <a href="#" class="events_page-sponsors__logos-wp">
                        <img src="{{ asset('Resources/mkpp/img/unido_logo.png') }}" alt="">
                    </a>
                    <a href="#" class="events_page-sponsors__logos-wp">
                        <img src="{{ asset('Resources/mkpp/img/bvmw_logo.png') }}" alt="">
                    </a>
                    <a href="#" class="events_page-sponsors__logos-wp">
                        <img src="{{ asset('Resources/mkpp/img/cis_logo.png') }}" alt="">
                    </a>
                    <a href="#" class="events_page-sponsors__logos-wp">
                        <img src="{{ asset('Resources/mkpp/img/bsec_logo.png') }}" alt="">
                    </a>
                    <a href="#" class="events_page-sponsors__logos-wp">
                        <img src="{{ asset('Resources/mkpp/img/icsti_logo.png') }}" alt="">
                    </a>
                    <a href="#" class="events_page-sponsors__logos-wp">
                        <img src="{{ asset('Resources/mkpp/img/wbc_logo.png') }}" alt="">
                    </a>
                </div>
            </div>
            <div class="events_page-sponsors__become">
                <p>Все мероприятия МКПП посещают лидеры промыш - ленного комплекса более чем 26 стран.
                    Хотите расширять свой бизнес?</p>
                <div class="events_page-sponsors__become-footer">
                    <h3>Мы готовы сотрудничать.</h3>
                    <a href="#members-form" data-modaal-type="inline" data-modaal-animation="fade" class="modaal">Стать
                        партнером</a>
                </div>
            </div>
        </div>
        <div id="members-form" style="display: none;">
            <div class="modal-form">
                <div class="modal-form__header">
                    <h2>Заявка на партнерство в ICIE</h2>
                </div>
                <div class="modal-form__content">
                    <div class="modal-form__block">
                        <h3>Орагнизация</h3>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-66">
                                <input type="text" placeholder="Наименование">
                            </div>
                            <div class="modal-form__input modal-form__input-30">
                                <input type="text" placeholder="Год создания">
                            </div>
                        </div>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-100">
                                <input type="text" placeholder="Основные виды деятельности (краткая характеристика)">
                            </div>
                        </div>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-30">
                                <input type="text" placeholder="Адрес">
                            </div>
                            <div class="modal-form__input modal-form__input-30">
                                <input type="text" placeholder="Телефон">
                            </div>
                            <div class="modal-form__input modal-form__input-30">
                                <input type="text" placeholder="e-mail">
                            </div>
                        </div>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-30">
                                <input type="text" placeholder="Адрес сайта">
                            </div>
                        </div>
                    </div>
                    <div class="modal-form__block">
                        <h3>Руководитель</h3>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-49">
                                <input type="text" placeholder="ФИО">
                            </div>
                            <div class="modal-form__input modal-form__input-49">
                                <input type="text" placeholder="Должность">
                            </div>
                        </div>
                    </div>
                    <div class="modal-form__block">
                        <h3>Контактное лицо</h3>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-49">
                                <input type="text" placeholder="ФИО">
                            </div>
                            <div class="modal-form__input modal-form__input-49">
                                <input type="text" placeholder="Должность">
                            </div>
                        </div>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-49">
                                <input type="text" placeholder="e-mail">
                            </div>
                        </div>
                    </div>
                    <button class="modal-form__btn">отправить заявку</button>
                </div>
            </div>
        </div>
        <div id="signup-form" style="display: none;">
            <div class="modal-form">
                <div class="modal-form__header">
                    <h2>Зарегистрироваться на событие</h2>
                </div>
                <div class="modal-form__content">
                    <div class="modal-form__block">
                        <h3>Тип участия:</h3>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-100">
                                <select name="" id="">
                                    <option value="1">Член Конгресса</option>
                                    <option value="2">Слушатель</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-form__block">
                        <h3>Введите свои контактные данные:</h3>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-100">
                                <input type="text" placeholder="ФИО">
                            </div>
                        </div>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-66">
                                <input type="text" placeholder="e-mail">
                            </div>
                            <div class="modal-form__input modal-form__input-30">
                                <input type="text" placeholder="Телефон">
                            </div>
                        </div>
                        <div class="modal-form__row">
                            <div class="modal-form__input modal-form__input-100">
                                <input type="text" placeholder="Название организации">
                            </div>
                        </div>
                    </div>
                    <button class="modal-form__btn">отправить заявку</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        window.eventDates = [
            {
                currentEvent: true,
                firstDay: '01.10.2018',
                lastDay: '09.10.2018',
                link: '/events/12' // event link
            },
            {
                currentEvent: false,
                firstDay: '23.10.2018',
                lastDay: '24.10.2018',
                link: '/events/12' // event link
            },
            {
                currentEvent: false,
                firstDay: '28.10.2018',
                lastDay: '28.10.2018',
                link: '/events/12' // event link
            },
            {
                currentEvent: false,
                firstDay: '02.11.2018',
                lastDay: '05.12.2018',
                link: '/events/12' // event link
            }
        ];
        window.eventMonth = '12.10.2018';
    </script>
{% endblock %}