{% extends '@App/Default/base.html.twig' %}


{% block content %}


    <div class="main">
        <div class="content">
            <div class="picture">
                <img src="/Resources/mkpp/img/architectural-design-architecture-building.jpg" alt="">
            </div>
            <article class="news">
                <h3>Последние новости</h3>
                <div class="news-list">
                    {%  for new in news %}
                        <a href="{{ path('news_get', {id: new.id}) }}" class="news-item">
                            <div class="news-item__logo">
                                <img src="{{ new.image }}" alt="">
                            </div>
                            <div class="news-item__content">
                                <p class="news-title">{{ new.caption }}</p>
                                <p>{{ new.date|date("d.m.Y") }}</p>
                            </div>
                        </a>
                    {% endfor %}
                    <a href="{{ path('news') }}" class="news-redirect-link">Перейти в раздел новостей</a>
                </div>
            </article>
            <article class="partners">
                <h3>Партнеры конгресса</h3>
                <a href="http://unido.org" target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/unido_logo.png" alt="">
                </a>
                <a href="https://au.int" target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/african_union.png" alt="">
                </a>
                <a href="http://infobrics.org" target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/brics_logo.png" alt="">
                </a>
                <a href="http://www.eurasiancommission.org" target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/eeu_logo.png" alt="">
                </a>
                <a href="http://iacis.ru " target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/cis_logo.png" alt="">
                </a>
                <a href="http://www.sectsco.org" target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/sco_logo.png" alt="">
                </a>
                <a href="http://www.bsec-organization.org" target="_blank" class="partners-link">
                    <img src="/Resources/mkpp/img/bsec_logo.png" alt="">
                </a>
            </article>
        </div>
        <div class="sidebar">
            <img src="/Resources/mkpp/img/27-adv_banner.jpg" alt="">
        </div>
    </div>
{% endblock %}
