{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="media-news-wp">
        <article class="media-sidebar sidebar">
            <div class="anchors">
                <a href="#media-congress_news" class="anchors-link">Новости Конгресса</a>
                <a href="#media-partner_news" class="anchors-link">Новости партнеров</a>
                <a href="#media-gallery" class="anchors-link">Фото и Видео</a>
                <a href="#media-gallery" class="anchors-link">Графические матреиалы</a>
                <a href="#media-faq" class="anchors-link">FAQ</a>
            </div>
        </article>
        <div class="media-content">
            <div class="media-content__wrap">
                <div class="media-news">
                    <a href="https://www.youtube.com/embed/mcixldqDIEQ" class="media-news__item modal-video">
                        <div class="media-news__item-img">
                            <img src="/Resources/mkpp/img/news-1.jpg" alt="">
                            <div class="media-news__item-overlay"></div>
                        </div>
                        <p class="media-news__item-title">Южная Корея — Россия: Новый авиамаршрут из Кванджу во Владивасток</p>
                        <p class="media-news__item-date">09.07.2018</p>
                    </a>
                    <a href="/Resources/mkpp/img/layer-25.jpg" class="media-news__item modal-image">
                        <div class="media-news__item-img">
                            <img src="/Resources/mkpp/img/news-1.jpg" alt="">
                            <div class="media-news__item-overlay"></div>
                        </div>
                        <p class="media-news__item-title">Южная Корея — Россия: Новый авиамаршрут из Кванджу во Владивасток</p>
                        <p class="media-news__item-date">09.07.2018</p>
                    </a>
                    <div class="media-news__more">
                        <a href="" class="media-news__more-btn">Загрузить еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}

