{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="media">
        <section class="media-top">
            <div class="media-top__title">
                <h1>Медиа</h1>
            </div>
        </section>
        <div class="media-content">
            <article class="media-sidebar sidebar">
                <div class="anchors">
                    <a href="#media-congress_news" class="anchors-link">Новости Конгресса</a>
                    <a href="#media-partner_news" class="anchors-link">Новости партнеров</a>
                    <a href="#media-gallery" class="anchors-link">Фото и Видео</a>
                </div>
            </article>
            <div class="media-main">
                <div id="media-congress_news" class="media-congress_news">
                    <div class="media-title">
                        <h2>Новости Конгресса</h2>
                        <a href="{{ path('news') }}" class="media-btn__seemore">посмотреть все</a>
                    </div>
                    <div class="media-congress_news__row">
                        {% set isMain = false %}
                        {% set isSecond = false %}
                        {% set isSecondSecond = false %}

                        {% for new in news %}
                            {% if not isMain %}
                                {% set isMain = true %}
                                <a href="{{ path('news_get', {id: new.id}) }}" class="media-congress_news__main_news">
                                    <div class="media-congress_news__main_logo">
                                        <img src="{{ new.image }}" alt="">
                                    </div>
                                    <div class="media-congress_news__main_content news-item__content">
                                        <p class="news-title">{{ new.caption }}</p>
                                        <p>{{ new.date|date("d.m.Y") }}</p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}

                        <div class="media-congress_news__list news-list">

                            {% for new in news %}
                                {% if not isSecond %}
                                    {% set isSecond = true %}
                                {% else %}
                                    <a href="{{ path('news_get', {id: new.id}) }}" class="news-item">
                                        <div class="news-item__logo">
                                            <img src="{{ new.image }}" alt="">
                                        </div>
                                        <div class="news-item__content">
                                            <p class="news-title">{{ new.caption }}</p>
                                            <p>{{ new.date|date("d.m.Y") }}</p>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ path('news') }}" class="media-btn__seemore media-btn__seemore-mobile">посмотреть все</a>
                </div>
                <div id="media-partner_news" class="media-partner_news">
                    <div class="media-title">
                        <h2>Новости партнеров и членов</h2>
                        <a href="{{ path('news') }}" class="media-btn__seemore">посмотреть все</a>
                    </div>
                    <div class="media-partner_news__list news-list">
                        {% for new in news %}
                            {% if not isSecondSecond %}
                                {% set isSecondSecond = true %}
                            {% else %}
                                <a href="{{ path('news_get', {id: new.id}) }}" class="news-item">
                                    <div class="news-item__logo">
                                        <img src="{{ new.image }}" alt="">
                                    </div>
                                    <div class="news-item__content">
                                        <p class="news-title">{{ new.caption }}</p>
                                        <p>{{ new.date|date("d.m.Y") }}</p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a href="{{ path('news') }}" class="media-btn__seemore media-btn__seemore-mobile">посмотреть все</a>
                </div>
                <div id="media-gallery" class="media-gallery">
                    <div class="media-photo">
                        <div class="media-title">
                            <h2>Фото и видео</h2>
                            <a href="{{ path('media_photo') }}" class="media-btn__seemore">посмотреть все</a>
                        </div>
                        <div class="media-photo__row">
                            <a href="https://www.youtube.com/embed/mcixldqDIEQ" class="media-photo__item modal-video">
                                <div class="media-photo__logo">
                                    <img src="/Resources/mkpp/img/layer-25.jpg" alt="">
                                    <div class="media-photo__overlay"></div>
                                </div>
                                <div class="media-photo__content">
                                    <p class="media-photo__title">Россия — Япония: новые возможности</p>
                                    <p>06.08.2018</p>
                                </div>
                            </a>
                            <a href="/Resources/mkpp/img/layer-25.jpg" class="media-photo__item modal-image">
                                <div class="media-photo__logo">
                                    <img src="/Resources/mkpp/img/layer-25.jpg" alt="">
                                    <div class="media-photo__overlay"></div>
                                </div>
                                <div class="media-photo__content">
                                    <p class="media-photo__title">МКПП содействует налаживанию сотрудничества в
                                        строительной сфере между Россией
                                        и Республикой Корея</p>
                                    <p>06.08.2018</p>
                                </div>
                            </a>
                        </div>
                        <a href="{{ path('media_photo') }}" class="media-btn__seemore media-btn__seemore-mobile">посмотреть
                            все</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("media").classList.add("active");
    </script>
{% endblock %}

