{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <section class="members-top">
        <div class="members-top__title">
            <h1>Членство в ICIE</h1>
        </div>
    </section>
    <div class="members">
        <div id="members-base_wp" class="members-base_wp">
            <article class="members-sidebar sidebar">
                <div class="anchors">
                    <a href="#members-base_wp" class="anchors-link">Членство</a>
                    <a href="#members-advantage" class="anchors-link">Преимущества</a>
                    <a href="#members-join" class="anchors-link">Стать членом ICIE</a>
                    <a href="#members-union" class="anchors-link">Члены ICIE</a>
                </div>
            </article>
            <div class="members-base">
                <h2>Основой для реализации уставных целей и задач Конгресса является его членская база.</h2>
                <p>В настоящее время Международный Конгресс объединяет деловые союзы промышленников и предпринимателей,
                    а также организации работодателей из 28 стран Европы и Азии: Азербайджана, Армении, Беларуси,
                    Болгарии, Венгрии, Германии, Греции, Грузии, Италии, Казахстана, Китая, Кыргызстана, Латвии, Литвы,
                    Македонии, Молдовы, Польши, Республики Корея, Российской Федерации, Румынии, Сербии, Словении,
                    Таджикистана, Узбекистана, Украины, Черногории, Чехии и Эстонии. Членами ICIE также являются
                    различные коммерческие предприятия, активно действующие на национальных и международных
                    рынках. </p>
            </div>
        </div>
        <div id="members-advantage" class="members-advantage">
            <div class="members-advantage__content">
                <h2>Преимущества и возможности<br>членства в ICIE</h2>
                <p>Принятые в Международный Конгресс союзы и ассоциации, рыночные структуры получают возможность быть
                    включенными в выполнение программ и проектов под эгидой ICIE, поддержку в развитии своей
                    деятельности, её финансово-экономическое, информационное и правовое сопровождение. Работа с членами
                    и партнерами имеет системный характер, нацелена на количественный, качественный рост состава
                    Конгресса, расширение географии и предусматривает безусловное взаимное соблюдение уставных и
                    договорных обязанностей.</p>
            </div>
        </div>
        <div class="members-partners">
            <h2>Установление деловых контактов<br>с партнерами из 28 стран Европы и Азии </h2>
            <div class="members-partners__row">
                <div class="members-partners__column">
                    <div class="members-partners__item">
                        <p>Установление деловых контактов через разветвленную сеть национальных деловых объединений –
                            членов Конгресса и Представительства ICIE</p>
                    </div>
                    <div class="members-partners__item">
                        <p>Возможность системных контактов с органами власти государств, регионов, отдельных городов</p>
                    </div>
                    <div class="members-partners__item">
                        <p>Консультации по вопросам ведения бизнеса в той или иной стране, представленной в
                            Конгрессе</p>
                    </div>
                    <div class="members-partners__item">
                        <p>Участие в уставных и тематических мероприятиях Конгресса – форумах, семинарах, конференциях,
                            выставках, деловых встречах и т.д.</p>
                    </div>
                </div>
                <div class="members-partners__column">
                    <div class="members-partners__item">
                        <p>Возможность участие в pitch сессиях с участием потенциальных инвесторов и партнеров</p>
                    </div>
                    <div class="members-partners__item">
                        <p>Cодействие в реализации конкретных двусторонних и многосторонних проектах</p>
                    </div>
                    <div class="members-partners__item">
                        <p>Возможность комплексного сопровождения проекта, включая структурирование сделки, поиск
                            источников финансирования и т.д.</p>
                    </div>
                    <div class="members-partners__item">
                        <p>Возможность включения в проекты и программы международных и субрегиональных организаций –
                            партнеров Международного Конгресса, в том числе Организации Объединенных наций по
                            промышленному развитию (UNIDO), а также экономических и финансовых структур Европейского
                            Союза, СНГ, ЕврАзЭС, БРИКС, ШОС, АТЭС, ЧЭС и т.д.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-presentation">
            <div class="members-presentation__content">
                <h2>Презентация компании,<br>
                    продуктов и проектов</h2>
                <div class="members-presentation__row">
                    <div class="members-presentation__item">
                        <p>Возможность презентации компании и продуктов в рамках мероприятий Конгресса и его
                            партнеров</p>
                    </div>
                    <div class="members-presentation__item">
                        <p>Возможность продвижения имиджа компании, в том числе через размещение важных новостей и
                            рекламы на сайте Конгресса, а также через спонсорство мероприятий ICIE</p>
                    </div>
                    <div class="members-presentation__item">
                        <p>Возможность организации на базе Конгресса собственных мероприятий по интересующей тематике с
                            привлечением авторитетных ученых и международных деятелей в разных сферах бизнеса</p>
                    </div>
                    <div class="members-presentation__item">
                        <p>Организация деловых поездок в страны, представленные в Конгрессе, для презентации компании
                            или продукта, ознакомления с потенциалом региона с целью развития торгово-экономического
                            сотрудничества</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-capabilities">
            <h2>Использование возможностей<br>
                инфраструктуры Конгресса</h2>
            <div class="members-capabilities__row">
                <div class="members-capabilities__item">
                    <p>Использование возможностей инфраструктуры Конгресса, включающей в себя тематические и отраслевые
                        Комитеты ICIE, Координационные Советы ICIE, Представительства ICIE и т.д.</p>
                </div>
                <div class="members-capabilities__item">
                    <p>Помощь в решении юридически-правовых вопросов, проведение правовой экспертизы, а также
                        использование возможностей «Арбитражного Центра ICIE» и «Центра медиации ICIE» в разрешении
                        споров</p>
                </div>
                <div class="members-capabilities__item">
                    <p>Консультации юристов, маркетологов, финансистов, нотариусов по ведению бизнеса в той или иной
                        стране, представленной в Конгрессе</p>
                </div>
                <div class="members-capabilities__item">
                    <p>Помощь в открытии представительств компаний в странах-партнерах, регистрация юридического адреса,
                        подбор и обучение персонала</p>
                </div>
                <div class="members-capabilities__item">
                    <p>Возможность использования помещений Конгресса для проведения деловых встреч и переговоров</p>
                </div>
            </div>
        </div>
        <div id="members-join" class="members-join">
            <div class="members-join__title">
                <h2>Присоединиться к ICIE</h2>
            </div>
            <div class="members-join__descr">
                <p>ICIE объединяет множество членов и партнеров по всему миру, которые являются ведущими производителями
                    и предпринимателями как на локальном, так и на международном рынках. Сегодня и ваша организация
                    может стать участником глобальных бизнес процессов, происходящих на базе Конгресса. </p>
                <a href="#members-form" data-modaal-type="inline" data-modaal-animation="fade" class="modaal">Стать
                    членом ICIE</a>
            </div>
        </div>
        <div id="members-union" class="members-union">
            <h2>Члены ICIE</h2>
            <h3>Национальные деловые объединения</h3>
            <div class="members-union__row">
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/azer.svg" alt="">
                    </div>
                    <div>
                        <p>Национальная Конфедерация организаций предпринимателей (работодателей) Азербайджанской
                            Республики</p>
                        <a href="http://www.ask.org.az" target="_blank">
                            www.ask.org.az </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/armenia.svg" alt="">
                    </div>
                    <div>
                        <p>Союз промышленников и предпринимателей (работодателей) Армении</p>
                        <a href="http://www.umba.info.am" target="_blank">
                            www.umba.info.am </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/belarus.svg" alt="">
                    </div>
                    <div>
                        <p>Республиканская ассоциация предприятий промышленности "БЕЛАПП"</p>
                        <a href="http://www.belapp.by" target="_blank">
                            www.belapp.by </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/bolgaria.svg" alt="">
                    </div>
                    <div>
                        <p>Деловое объединение «Союз малого и среднего бизнеса Болгарии»</p>
                        <a href="http://www.spb.bg " target="_blank">
                            www.spb.bg </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/vengria.svg" alt="">
                    </div>
                    <div>
                        <p>Деловой клуб «Венгрия – СНГ»</p>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/grecia.svg" alt="">
                    </div>
                    <div>
                        <p>Федерация промышленности Северной Греции</p>
                        <a href="http://www.sbbe.gr" target="_blank">
                            www.sbbe.gr </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/gruzia.svg" alt="">
                    </div>
                    <div>
                        <p>Ассоциация работодателей Грузии</p>
                        <a href="http://www.employer.ge " target="_blank">
                            www.employer.ge </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/italy.svg" alt="">
                    </div>
                    <div>
                        <p>Ассоциация итальянских предпринимателей России</p>
                        <a href="http://unimpresa.ru/ru/" target="_blank">
                            unimpresa.ru/ru/ </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/kazahstan.svg" alt="">
                    </div>
                    <div>
                        <p>Конфедерация работодателей Республики Казахстан</p>
                        <a href="http://www.krrk.kz" target="_blank">
                            www.krrk.kz </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/china.svg" alt="">
                    </div>
                    <div>
                        <p>Совет по содействию в интернационализации технологий Китая</p>
                        <a href="http://www.chinaactif.org" target="_blank">
                            www.chinaactif.org </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/kirgizia.svg" alt="">
                    </div>
                    <div>
                        <p>Киргызский союз промышленников и предпринимателей</p>
                        <a href="http://www.kspp.kg " target="_blank">
                            www.kspp.kg </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/latvia.svg" alt="">
                    </div>
                    <div>
                        <p>Конфедерация работодателей Латвии</p>
                        <a href="http://www.lddk.lv" target="_blank">
                            www.lddk.lv </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/litva.svg" alt="">
                    </div>
                    <div>
                        <p>Конфедерация промышленников Литвы</p>
                        <a href="http://www.lpk.lt" target="_blank">
                            www.lpk.lt </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/makedonia.svg" alt="">
                    </div>
                    <div>
                        <p>Союз промышленников, бизнесменов и предпринимателей Македонии</p>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/moldova.svg" alt="">
                    </div>
                    <div>
                        <p>Национальный Конгресс промышленников и предпринимателей Молдовы</p>
                        <a href="http://www.cniam.md" target="_blank">
                            www.cniam.md </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/poland.svg" alt="">
                    </div>
                    <div>
                        <p>«Восточный клуб» (общество по поддержке экономического сотрудничества с Востоком)</p>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/russia.svg" alt="">
                    </div>
                    <div>
                        <p>Российский союз промышленников и предпринимателей</p>
                        <a href="http://www.rspp.ru" target="_blank">
                            www.rspp.ru </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/ruminia.svg" alt="">
                    </div>
                    <div>
                        <p>Генеральный союз промышленников Румынии</p>
                        <a href="http://www.ugir.ro" target="_blank">
                            www.ugir.ro </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/serbia.svg" alt="">
                    </div>
                    <div>
                        <p>Ассоциация работодателей «Работодатель» Республики Сербия</p>
                        <a href="http://udruzenje-poslodavac.rs" target="_blank">
                            udruzenje-poslodavac.rs </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/slovenia.svg" alt="">
                    </div>
                    <div>
                        <p>Ассоциация промышленников и предпринимателей Словении</p>
                        <a href="http://www.icie.si" target="_blank">
                            www.icie.si </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/tajikistan.svg" alt="">
                    </div>
                    <div>
                        <p>Торгово-промышленная палата Республики Таджикистан</p>
                        <a href="http://www.tpp.tj" target="_blank">
                            www.tpp.tj </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/uzbekistan.svg" alt="">
                    </div>
                    <div>
                        <p>Торгово-промышленная палата Узбекистана</p>
                        <a href="http://www.chamber.uz/" target="_blank">
                            www.chamber.uz/ </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/ukraina.svg" alt="">
                    </div>
                    <div>
                        <p>Украинский cоюз промышленников и предпринимателей</p>
                        <a href="http://www.uspp.org.ua" target="_blank">
                            www.uspp.org.ua </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/czech.svg" alt="">
                    </div>
                    <div>
                        <p>Ассоциация «ЧЕХ-ТОП 100»</p>
                        <a href="http://www.czechtop100.cz" target="_blank">
                            www.czechtop100.cz </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/estonia.svg" alt="">
                    </div>
                    <div>
                        <p>Ассоциация крупных предпринимателей Эстонии</p>
                        <a href="http://www.silport.ee" target="_blank">
                            www.silport.ee </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/korea.svg" alt="">
                    </div>
                    <div>
                        <p>Форум за будущее экономическое развитие Дальнего Востока</p>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/germany.svg" alt="">
                    </div>
                    <div>
                        <p>SIBIR - Общество международного делового взаимодействия</p>
                        <a href="http://www.sibir-society.com" target="_blank">
                            www.sibir-society.com </a>
                    </div>
                </div>
                <div class="members-union__item">
                    <div class="members-union__flag">
                        <img src="/Resources/mkpp/img/flags/indian.svg" alt="">
                    </div>
                    <div>
                        <p>Конфедерация индийской промышленности</p>
                        <a href="http://www.cii.in" target="_blank">
                            www.cii.in </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-organizations">
            <h2>Коммерческие организации</h2>
            <h3>Организации, принятые в ICIE после XI Ассамблеи Конгресса</h3>
            <div class="members-organizations__row">
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/inter.png" alt="">
                    </div>
                    <p>ПАО «Интер РАО»</p>
                    <a href="http://www.interrao.ru" target="_blank">www.interrao.ru</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/Sberkap.jpg" alt="">
                    </div>
                    <p>OOO «Сбербанк Капитал»</p>
                    <a href="http://www.sbrf-capital.ru" target="_blank">www.sbrf-capital.ru</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/PNK.jpg" alt="">
                    </div>
                    <p>Открытое акционерное общество «Первая нерудная компания»</p>
                    <a href="http://www.1pnk.ru" target="_blank">www.1pnk.ru</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/ReelTransHolding.jpg" alt="">
                    </div>
                    <p>ООО Управляющая Компания «РэйлТрансХолдинг»</p>
                    <a href="http://www.railtransholding.com" target="_blank">www.railtransholding.com</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/Vis-MOs.jpg" alt="">
                    </div>
                    <p>ООО «СП ВИС-МОС»</p>
                    <a href="http://www.vis-mos.ru" target="_blank">www.vis-mos.ru</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/OGK.png" alt="">
                    </div>
                    <p>Группа компаний «ОГК»</p>
                    <a href="http://www.ogkgroup.ru" target="_blank">www.ogkgroup.ru</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/Bajkalsi.png" alt="">
                    </div>
                    <p>Группа компаний «Море Байкал»</p>
                    <a href="http://www.irkvoda.ru" target="_blank">www.irkvoda.ru</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/rshb-ua_logo.jpg" alt="">
                    </div>
                    <p>ООО «РСХБ Управление Активами»</p>
                    <a href="http://www.rshb-am.ru/" target="_blank">www.rshb-am.ru/</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/Elinejr.gif" alt="">
                    </div>
                    <p>Компания "Ellinair"</p>
                    <a href="https://ru.ellinair.com" target="_blank">ru.ellinair.com</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/medium_193ea5be318e4658a7571d32a2c3b966.png" alt="">
                    </div>
                    <p>ОАО «НПО «ГЕЛИЙМАШ»</p>
                    <a href="http://www.geliymash.ru/" target="_blank">www.geliymash.ru/</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/MTM1ODQ1Mj.jpg" alt="">
                    </div>
                    <p>Компании «TASYAPI»</p>
                    <a href="http://www.tasyapi.com/EN" target="_blank">www.tasyapi.com/EN</a>
                </div>
                <div class="members-organizations__item">
                    <div class="members-organizations__logo">
                        <img src="/Resources/mkpp/img/members_org/Bezymyannyj-1.png" alt="">
                    </div>
                    <p>ООО «НЗНП Трейд»</p>
                    <a href="https://www.nznpt.ru/" target="_blank">www.nznpt.ru/</a>
                </div>
            </div>
        </div>
        <div id="members-form" style="display: none;">
            <form method="post" action="{{ path('new_partner') }}">
                <div class="modal-form">
                    <div class="modal-form__header">
                        <h2>Заявка на членство в ICIE</h2>
                    </div>
                    <div class="modal-form__content">
                        <div class="modal-form__block">
                            <h3>Орагнизация</h3>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-66">
                                    <input type="text" name="name" placeholder="Наименование">
                                </div>
                                <div class="modal-form__input modal-form__input-30">
                                    <input type="text" name="year" placeholder="Год создания">
                                </div>
                            </div>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-100">
                                    <input type="text" name="type"
                                           placeholder="Основные виды деятельности (краткая характеристика)">
                                </div>
                            </div>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-30">
                                    <input type="text" placeholder="Адрес" name="address">
                                </div>
                                <div class="modal-form__input modal-form__input-30">
                                    <input type="text" placeholder="Телефон" name="phone">
                                </div>
                                <div class="modal-form__input modal-form__input-30">
                                    <input type="text" placeholder="e-mail" name="email">
                                </div>
                            </div>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-30">
                                    <input type="text" placeholder="Адрес сайта" name="site">
                                </div>
                            </div>
                        </div>
                        <div class="modal-form__block">
                            <h3>Руководитель</h3>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-49">
                                    <input type="text" placeholder="ФИО" name="fullName">
                                </div>
                                <div class="modal-form__input modal-form__input-49">
                                    <input type="text" placeholder="Должность" name="work">
                                </div>
                            </div>
                        </div>
                        <div class="modal-form__block">
                            <h3>Контактное лицо</h3>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-49">
                                    <input type="text" placeholder="ФИО" name="contactName">
                                </div>
                                <div class="modal-form__input modal-form__input-49">
                                    <input type="text" placeholder="Должность" name="contactWork">
                                </div>
                            </div>
                            <div class="modal-form__row">
                                <div class="modal-form__input modal-form__input-49">
                                    <input type="text" placeholder="e-mail" name="contactEmail">
                                </div>
                            </div>
                        </div>
                        <button class="modal-form__btn" type="submit">отправить заявку</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("members").classList.add("active");
    </script>
{% endblock %}

