{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="media-news-page">
        <article class="media-sidebar sidebar">
            <div class="anchors">
                <a href="{{ path('news') }}" class="anchors-link">Назад к новостям Конгресса</a>
            </div>
        </article>
        <div class="media-content">
            <div class="media-content__page">
                <div class="media-news_page">
                    <div class="media-news_page__top">
                        <div class="media-news_page__img">
                            <img src="{{ news.image }}" alt="">
                        </div>
                        <div class="media-news_page__title">
                            <h1>{{ news.caption }}</h1>
                            <p>{{ new.date|date("d.m.Y") }}</p>
                        </div>
                    </div>
                    <div class="media-news_page__info">
                        <p>{{ news.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
