{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="media-news-wp">
        <article class="media-sidebar sidebar">
            <div class="anchors">
                <a href="#media-congress_news" class="anchors-link">Новости Конгресса</a>
                <a href="#media-partner_news" class="anchors-link">Новости партнеров</a>
                <a href="#media-gallery" class="anchors-link">Фото и Видео</a>
                <a href="#media-gallery" class="anchors-link">Графические матреиалы</a>
                <a href="#media-faq" class="anchors-link">FAQ</a>
            </div>
        </article>
        <div class="media-content">
            <div class="media-content__wrap">
                <div class="media-news">
                    {% for new in news %}
                        <a href="{{ path('news_get', {id: new.id}) }}" class="media-news__item">
                            <div class="media-news__item-img">
                                <img src="{{ new.image }}" alt="">
                            </div>
                            <p class="media-news__item-title">{{ new.caption }}</p>
                            <p class="media-news__item-date">{{ new.date|date("d.m.Y") }}</p>
                            <p class="media-news__item-descr">{{ new.description }}</p>
                        </a>
                    {% endfor %}
                    <div class="media-news__more">
                        <a href="" class="media-news__more-btn">Загрузить еще</a>
                    </div>
                </div>
                <div class="media-poster">
                    <a href="#">
                        <img src="/Resources/mkpp/img/poster.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}

