{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="progress">
        <section class="progress-top">
            <div class="progress-top__title">
                <h1>Устойчивое развитие</h1>
            </div>
        </section>
        <div class="progress-content">
            <h2>Международный Конгресс промышленников и предпринимателей придерживается концепции и принципов устойчивого развития.</h2>
            <div class="progress-content__text">
                <img src="{{ asset('Resources/mkpp/img/progress-target.jpg') }}" alt="">
                <h3>Генеральная Ассамблея ООН</h3>
                <p>«Обеспечение устойчивого развития человечества — наиболее значимая проблема, стоящая перед мировым сообществом».</p>
                <p>Устойчивое развитие предполагает достижение трех основополагающих целей: экономического и социального прогресса, охраны окружающей среды. В результате соединения этих трех направлений и образовалась концепция устойчивого развития:</p>
                <h4>Экономическое направление</h4>
                <p>Длительные экономические проекты, учитывающие закономерности природы, в результате оказываются более эффективными, чем проекты, при реализации которых не учитываются возможные экологические последствия.</p>
                <h4>Экологическое направление</h4>
                <p>Стабильность физических и экологических систем является одним из важнейших принципов устойчивого развития. Игнорирование потребностей экологии приведет к деградации окружающей среды и поставит под угрозу существование всего человечества.</p>
                <h4>Социальное направление</h4>
                <p>Осознание социальных проблем стало одним из драйверов к образованию концепции устойчивого развития, направленной на повсеместное сохранение культурной и социальной стабильности, а также на уменьшение количества несущих разрушения конфликтов.</p>
                <p>Более подробно ознакомиться с принципами и целями устойчивого развития вы можете на сайте Организации Объединенных Наций <a href="https://www.un.org/sustainabledevelopment/ru/" target="_blank">https://www.un.org/sustainabledevelopment/ru/</a>.</p>
                <p>Концепция устойчивого развития, определенного как «развитие, обеспечивающее удовлетворение потребностей нынешнего поколения и не подрывающее при этом возможности удовлетворения потребностей будущих поколений», стала руководящим принципом долгосрочного глобального развития  для многих организаций, в том числе и для Международного Конгресса промышленников и предпринимателей.</p>
                <p>Мы убеждены, что продвигая концепцию устойчивого развития среди наших членов и партнеров, мы сможем увеличить количество предпринимателей по всему миру, которые будут строить свой бизнес на принципах заботы о сегодняшнем, и, что не менее важно, будущем поколении.</p>
                <p>В 1998 году ICIE заключил соглашение со специализированным учреждением ООН - Организацией Объединенных Наций по промышленному развитию (ЮНИДО), которая содействует промышленному развитию в целях сокращения масштабов нищеты, всеобъемлющей глобализации и экологической устойчивости.</p>
                <p>Конгресс также разделяет и новые принципы концепции всеобщего устойчивого промышленного развития (ISID <a href="http://www.unido.ru/overview/strategija_isid/" target="_blank">http://www.unido.ru/overview/strategija_isid/</a>), которые зафиксированы в основополагающей Лимской декларации, принятой странами-участницами ЮНИДО 2 декабря 2013 года.</p>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("progress").classList.add("active");
    </script>
{% endblock %}

