{% extends '@App/Default/base.html.twig' %}

{% block content %}
    <div class="search">
        <div class="search-header">
            <p>Вы искали:</p>
            <h2>Решение конгресса 21</h2>
        </div>
        <div class="search-results">
            <a href="#" class="search-results__item">
                <h3>Решение конгресса 2132</h3>
                <p class="search-results__item-descr">Задачи по развитию взаимодействия Конгресса с регионами, представленных в МКПП государств</p>
                <p class="search-results__item-date">
                    8 декабря 2017 г.
                    <span>Решения</span>
                </p>
            </a>
            <a href="#" class="search-results__item">
                <h3>Решение конгресса 2132</h3>
                <p class="search-results__item-descr">Задачи по развитию взаимодействия Конгресса с регионами, представленных в МКПП государств</p>
                <p class="search-results__item-date">
                    8 декабря 2017 г.
                    <span>Решения</span>
                </p>
            </a>
            <a href="#" class="search-results__item">
                <h3>Решение конгресса 2132</h3>
                <p class="search-results__item-descr">Задачи по развитию взаимодействия Конгресса с регионами, представленных в МКПП государств</p>
                <p class="search-results__item-date">
                    8 декабря 2017 г.
                    <span>Решения</span>
                </p>
            </a>
        </div>
    </div>
{% endblock %}

